workflow/cfdi_telegram_polling_with_history.n8n.json
{
  "name": "cfdi_telegram_polling_with_history",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "telegramBotToken",
              "value": "REEMPLAZAR_TELEGRAM_BOT_TOKEN_EN_N8N"
            },
            {
              "name": "catalogPath",
              "value": "C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/data/concepts.normalized.json"
            },
            {
              "name": "runtimePath",
              "value": "C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/runtime"
            },
            {
              "name": "workflowVersion",
              "value": "CFDI_WITH_HISTORY_3C2_ROUTER_FIX"
            }
          ],
          "number": [
            {
              "name": "pollingLimit",
              "value": 10
            }
          ]
        },
        "options": {
          "keepOnlySet": true
        }
      },
      "id": "set_config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst input = $json || {};\nconst placeholder = 'REEMPLAZAR_TELEGRAM_BOT_TOKEN_EN_N8N';\nconst defaultWorkflowVersion = 'CFDI_WITH_HISTORY_3C2_ROUTER_FIX';\nconst expectedCatalogPath = 'C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/data/concepts.normalized.json';\nconst expectedRuntimePath = 'C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/runtime';\nconst stateFileName = 'telegram-state.json';\n\nfunction ensureAbsolutePath(rawPath, label, expected) {\n  const value = (rawPath || '').toString().trim();\n  if (!value) throw new Error(label + ' es requerido. Usa: ' + expected);\n  if (!path.isAbsolute(value)) throw new Error(label + ' debe ser absoluto. Usa: ' + expected);\n  return path.normalize(value);\n}\n\nfunction defaultState(workflowVersion) {\n  return {\n    lastTelegramUpdateId: 0,\n    processedUpdateIds: [],\n    chatStates: {},\n    lastRunAt: '',\n    workflowVersion: workflowVersion || defaultWorkflowVersion,\n  };\n}\n\nfunction normalizeState(raw, workflowVersion) {\n  const base = defaultState(workflowVersion);\n  const state = raw && typeof raw === 'object' ? raw : {};\n  const processed = Array.isArray(state.processedUpdateIds) ? state.processedUpdateIds : [];\n  return {\n    ...base,\n    ...state,\n    lastTelegramUpdateId: Number(state.lastTelegramUpdateId || 0) || 0,\n    processedUpdateIds: processed.map((id) => Number(id)).filter((id) => Number.isFinite(id)).slice(-500),\n    chatStates: state.chatStates && typeof state.chatStates === 'object' ? state.chatStates : {},\n    workflowVersion: workflowVersion || state.workflowVersion || base.workflowVersion,\n  };\n}\n\nfunction readState(statePath, workflowVersion) {\n  if (!fs.existsSync(statePath)) return defaultState(workflowVersion);\n  try {\n    return normalizeState(JSON.parse(fs.readFileSync(statePath, 'utf8')), workflowVersion);\n  } catch (_error) {\n    return defaultState(workflowVersion);\n  }\n}\n\nfunction writeState(statePath, state) {\n  fs.writeFileSync(statePath, JSON.stringify(state, null, 2), 'utf8');\n}\n\nconst workflowVersion = (input.workflowVersion || defaultWorkflowVersion).toString().trim();\nconst telegramBotToken = (input.telegramBotToken || '').toString().trim();\nconst catalogPath = ensureAbsolutePath(input.catalogPath, 'catalogPath', expectedCatalogPath);\nconst runtimePath = ensureAbsolutePath(input.runtimePath, 'runtimePath', expectedRuntimePath);\nconst pollingLimit = Number(input.pollingLimit || 10) || 10;\n\nif (!telegramBotToken || telegramBotToken === placeholder) {\n  throw new Error('Configura telegramBotToken en el nodo Set Config. No pegues el token en archivos del proyecto.');\n}\n\nfs.mkdirSync(runtimePath, { recursive: true });\nconst statePath = path.join(runtimePath, stateFileName);\nconst state = readState(statePath, workflowVersion);\nstate.workflowVersion = workflowVersion;\nstate.lastRunAt = new Date().toISOString();\nwriteState(statePath, state);\n\nconst lastUpdateId = Number(state.lastTelegramUpdateId || 0) || 0;\nconst nextOffset = lastUpdateId > 0 ? lastUpdateId + 1 : 0;\n\nreturn [{\n  json: {\n    ...input,\n    workflowVersion,\n    telegramBotToken,\n    catalogPath,\n    runtimePath,\n    statePath,\n    pollingLimit,\n    lastUpdateId,\n    lastTelegramUpdateId: lastUpdateId,\n    processedUpdateIdsCount: state.processedUpdateIds.length,\n    nextOffset,\n    offsetStrategy: 'runtime_file_state',\n  },\n}];"
      },
      "id": "prepare_telegram_request",
      "name": "Prepare Telegram Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        580,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{'https://api.telegram.org/bot' + $json.telegramBotToken + '/getUpdates'}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeout",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "={{$json.pollingLimit}}"
            },
            {
              "name": "offset",
              "value": "={{$json.nextOffset}}"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram_get_updates",
      "name": "Telegram getUpdates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst config = $node['Prepare Telegram Request'] ? $node['Prepare Telegram Request'].json : {};\nconst response = $json || {};\nconst updates = Array.isArray(response.result) ? response.result : [];\nconst defaultWorkflowVersion = 'CFDI_WITH_HISTORY_3C2_ROUTER_FIX';\nconst stateFileName = 'telegram-state.json';\nconst files = {\n  events: 'telegram-events.jsonl',\n  drafts: 'cfdi-drafts.jsonl',\n  actions: 'actions-log.jsonl',\n};\n\nfunction defaultState(workflowVersion) {\n  return {\n    lastTelegramUpdateId: 0,\n    processedUpdateIds: [],\n    chatStates: {},\n    lastRunAt: '',\n    workflowVersion: workflowVersion || defaultWorkflowVersion,\n  };\n}\n\nfunction normalizeState(raw, workflowVersion) {\n  const base = defaultState(workflowVersion);\n  const state = raw && typeof raw === 'object' ? raw : {};\n  const processed = Array.isArray(state.processedUpdateIds) ? state.processedUpdateIds : [];\n  return {\n    ...base,\n    ...state,\n    lastTelegramUpdateId: Number(state.lastTelegramUpdateId || 0) || 0,\n    processedUpdateIds: processed.map((id) => Number(id)).filter((id) => Number.isFinite(id)).slice(-500),\n    chatStates: state.chatStates && typeof state.chatStates === 'object' ? state.chatStates : {},\n    workflowVersion: workflowVersion || state.workflowVersion || base.workflowVersion,\n  };\n}\n\nfunction readState(statePath, workflowVersion) {\n  if (!fs.existsSync(statePath)) return defaultState(workflowVersion);\n  try {\n    return normalizeState(JSON.parse(fs.readFileSync(statePath, 'utf8')), workflowVersion);\n  } catch (_error) {\n    return defaultState(workflowVersion);\n  }\n}\n\nfunction writeState(statePath, state) {\n  fs.writeFileSync(statePath, JSON.stringify(state, null, 2), 'utf8');\n}\n\nfunction appendJsonl(filePath, value) {\n  fs.appendFileSync(filePath, JSON.stringify(value) + '\\n', 'utf8');\n}\n\nfunction actionId(timestamp, suffix) {\n  return 'ACT-' + timestamp.replace(/[-:.TZ]/g, '') + '-' + String(suffix || 'polling');\n}\n\nconst workflowVersion = config.workflowVersion || defaultWorkflowVersion;\nconst runtimePath = path.normalize(config.runtimePath || '');\nconst statePath = config.statePath ? path.normalize(config.statePath) : path.join(runtimePath, stateFileName);\nconst eventsPath = path.join(runtimePath, files.events);\nconst draftsPath = path.join(runtimePath, files.drafts);\nconst actionsPath = path.join(runtimePath, files.actions);\nfs.mkdirSync(runtimePath, { recursive: true });\n[eventsPath, draftsPath, actionsPath].forEach((filePath) => {\n  if (!fs.existsSync(filePath)) fs.appendFileSync(filePath, '', 'utf8');\n});\n\nconst state = readState(statePath, workflowVersion);\nconst lastUpdateId = Number(state.lastTelegramUpdateId || config.lastTelegramUpdateId || 0) || 0;\nconst processed = new Set((state.processedUpdateIds || []).map((id) => String(id)));\nconst now = new Date().toISOString();\n\nif (updates.length === 0) {\n  state.lastRunAt = now;\n  state.workflowVersion = workflowVersion;\n  writeState(statePath, state);\n  return [];\n}\n\nconst validUpdates = [];\nlet maxValidUpdateId = lastUpdateId;\n\nupdates\n  .slice()\n  .sort((a, b) => Number(a.update_id || 0) - Number(b.update_id || 0))\n  .forEach((update) => {\n    const updateId = Number(update.update_id);\n    if (!Number.isFinite(updateId)) return;\n    if (updateId <= lastUpdateId) return;\n    if (processed.has(String(updateId))) return;\n\n    const message = update.message || {};\n    const text = typeof message.text === 'string' ? message.text.trim() : '';\n    const chatId = message.chat && message.chat.id !== undefined ? message.chat.id : null;\n    if (!text || chatId === null) return;\n\n    maxValidUpdateId = Math.max(maxValidUpdateId, updateId);\n    validUpdates.push({ update, updateId, message, text, chatId });\n  });\n\nif (validUpdates.length === 0) {\n  state.lastRunAt = now;\n  state.workflowVersion = workflowVersion;\n  writeState(statePath, state);\n  return [];\n}\n\nfor (const item of validUpdates) {\n  processed.add(String(item.updateId));\n}\nstate.processedUpdateIds = Array.from(processed).map((id) => Number(id)).filter((id) => Number.isFinite(id)).slice(-500);\nstate.lastTelegramUpdateId = maxValidUpdateId;\nstate.lastRunAt = now;\nstate.workflowVersion = workflowVersion;\nwriteState(statePath, state);\n\nappendJsonl(actionsPath, {\n  action_id: actionId(now, maxValidUpdateId),\n  timestamp: now,\n  command: 'TELEGRAM_UPDATE_PRECOMMITTED',\n  update_ids: validUpdates.map((item) => item.updateId),\n  lastTelegramUpdateId: state.lastTelegramUpdateId,\n  processedUpdateIdsCount: state.processedUpdateIds.length,\n  workflowVersion,\n});\n\nreturn validUpdates.map((item) => ({\n  json: {\n    workflowVersion,\n    telegramBotToken: config.telegramBotToken,\n    catalogPath: config.catalogPath,\n    runtimePath,\n    statePath,\n    eventsPath,\n    draftsPath,\n    actionsPath,\n    pollingLimit: config.pollingLimit,\n    lastUpdateId,\n    lastTelegramUpdateId: state.lastTelegramUpdateId,\n    processedUpdateIdsCount: state.processedUpdateIds.length,\n    update_id: item.updateId,\n    message_id: item.message.message_id || null,\n    chat_id: item.chatId,\n    text: item.text,\n    message: item.text,\n    date: item.message.date || null,\n    nextOffset: state.lastTelegramUpdateId + 1,\n    offsetStrategy: 'runtime_file_state_precommitted',\n    update_precommitted: true,\n  },\n}));"
      },
      "id": "manage_telegram_updates",
      "name": "Manage Telegram Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst DEFAULT_CATALOG = { concepts: [] };\n\nconst WORD_TOKEN_RE = /[a-z0-9]+/g;\n\nconst FAMILY_HINTS = {\n  CCTV: [\n    \"cctv\",\n    \"camara\",\n    \"camaras\",\n    \"cámara\",\n    \"dvr\",\n    \"nvr\",\n    \"videovigilancia\",\n    \"vigilancia\",\n    \"hikvision\",\n    \"ip\",\n  ],\n  RED: [\n    \"router\",\n    \"switch\",\n    \"access point\",\n    \"accesspoint\",\n    \"punto de acceso\",\n    \"red\",\n    \"cable\",\n    \"cableado\",\n    \"cableado\",\n    \"utp\",\n    \"rj45\",\n    \"wifi\",\n    \"wi fi\",\n    \"lan\",\n    \"fibra\",\n    \"canaleta\",\n    \"canalizacion\",\n    \"interconexión\",\n    \"enlace\",\n  ],\n  COMPUTO: [\n    \"computadora\",\n    \"computo\",\n    \"pc\",\n    \"laptop\",\n    \"formate\",\n    \"disco\",\n    \"disco duro\",\n    \"ram\",\n    \"memoria\",\n    \"so\",\n    \"sistema operativo\",\n    \"driver\",\n  ],\n  CONTROL_ACCESO: [\n    \"control de acceso\",\n    \"zkteco\",\n    \"accesspro\",\n    \"tag\",\n    \"tags\",\n    \"lector\",\n    \"biometrico\",\n    \"chapa\",\n    \"boton\",\n    \"botón\",\n    \"biometria\",\n    \"tarjeta\",\n    \"residente\",\n    \"electromagnetica\",\n  ],\n  BARRERA: [\n    \"barrera\",\n    \"pluma\",\n    \"vehicular\",\n    \"acceso vehicular\",\n    \"barrera vehicular\",\n  ],\n};\n\nconst SALE_MARKERS = [\n  \"venta\",\n  \"vendo\",\n  \"vendio\",\n  \"vendí\",\n  \"vendi\",\n  \"vendia\",\n  \"suministro\",\n  \"suministré\",\n  \"suministre\",\n  \"compre\",\n];\n\nconst SERVICE_MARKERS = [\n  \"revis\",\n  \"diagnost\",\n  \"mantenimiento\",\n  \"configur\",\n  \"ajust\",\n  \"repar\",\n  \"soporte\",\n  \"formate\",\n];\n\nconst INSTALL_MARKERS = [\n  \"instal\",\n  \"cableado\",\n  \"canaleta\",\n  \"canalización\",\n  \"canalizacion\",\n];\n\nconst REPLACEMENT_MARKERS = [\n  \"cambi\",\n  \"reemplaz\",\n  \"sustit\",\n];\n\nconst POWER_SOURCE_MARKERS = [\n  \"fuente\",\n  \"fuente de poder\",\n  \"power supply\",\n  \"alimentacion\",\n  \"adaptador\",\n  \"transformador\",\n];\n\nconst STORAGE_MARKERS = [\n  \"disco\",\n  \"disco duro\",\n  \"hdd\",\n  \"ssd\",\n  \"almacenamiento\",\n  \"formateo\",\n  \"grabacion\",\n  \"grabación\",\n  \"dvr disco\",\n  \"nvr disco\",\n];\n\nconst POWER_PRODUCT_MARKERS = [\n  \"fuente\",\n  \"fuente de poder\",\n  \"fuente poder\",\n  \"power supply\",\n  \"alimentacion\",\n  \"adaptador\",\n  \"transformador\",\n];\n\nconst DVR_NVR_DISK_MARKERS = [\n  \"dvr\",\n  \"nvr\",\n  \"grabador\",\n  \"disco\",\n  \"disco duro\",\n  \"grabacion\",\n  \"grabación\",\n  \"almacenamiento\",\n  \"hdd\",\n  \"ssd\",\n];\n\nconst AMBIGUOUS_MARKERS = [\n  \"sistema\",\n  \"equipo\",\n  \"caseta\",\n  \"servicio tecnico\",\n  \"servicio\",\n  \"tecnico\",\n  \"general\",\n  \"falla\",\n  \"revision\",\n];\n\nfunction normalizeText(input) {\n  const value = input === null || input === undefined ? \"\" : String(input);\n  return value\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction includesAnyMarker(text, markers) {\n  const normalizedText = normalizeText(text);\n  return markers.some((marker) => normalizedText.includes(normalizeText(marker)));\n}\n\nfunction tokenize(input) {\n  return normalizeText(input).match(WORD_TOKEN_RE) || [];\n}\n\nfunction asArray(value) {\n  if (!value) return [];\n  if (Array.isArray(value)) {\n    return value.map((item) => String(item || \"\").trim()).filter(Boolean);\n  }\n  return String(value)\n    .split(\",\")\n    .map((item) => String(item || \"\").trim())\n    .filter(Boolean);\n}\n\nfunction escapeRegExp(value) {\n  return value.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\n}\n\nfunction getConceptAction(concept) {\n  return String(concept?.action_n8n || concept?.accion_n8n || \"\").toUpperCase();\n}\n\nfunction conceptScoringKeywords(concept) {\n  return asArray(concept?.scoring?.match_keywords || concept?.keywords_match || [])\n    .map(normalizeText)\n    .filter(Boolean);\n}\n\nfunction conceptExclusionKeywords(concept) {\n  return asArray(concept?.scoring?.exclude_keywords || concept?.keywords_excluir || [])\n    .map(normalizeText)\n    .filter(Boolean);\n}\n\nfunction conceptCategory(concept) {\n  const subfamily = normalizeText(concept?.subfamily || \"\");\n  const family = normalizeText(concept?.family || \"\");\n\n  if (subfamily.includes(\"control de acceso\") || subfamily.includes(\"control\")) return \"CONTROL_ACCESO\";\n  if (subfamily.includes(\"cctv\") || subfamily.includes(\"videovigilancia\") || subfamily.includes(\"vigilancia\")) return \"CCTV\";\n  if (subfamily.includes(\"red\") || subfamily.includes(\"comunicacion\")) return \"RED\";\n  if (subfamily.includes(\"computo\") || subfamily.includes(\"cómputo\")) return \"COMPUTO\";\n  if (subfamily.includes(\"vehicular\") || subfamily.includes(\"barrera\") || family.includes(\"acceso vehicular\")) return \"BARRERA\";\n  return \"\";\n}\n\nfunction normalizeConceptType(value) {\n  const text = String(value || \"\").toLowerCase().trim();\n  if (text.startsWith(\"prod\")) return \"PRODUCTO\";\n  if (text.startsWith(\"serv\")) return \"SERVICIO\";\n  if (text.startsWith(\"mix\")) return \"MIXTO\";\n  return text.toUpperCase() || \"\";\n}\n\nfunction termMatches(text, tokens, term) {\n  const normalized = normalizeText(term);\n  if (!normalized) return false;\n\n  if (tokens.has(normalized)) return true;\n\n  // Allow stem matches like \"revis\" -> \"revision\"/\"revisé\", \"cambi\" -> \"cambio\"/\"cambié\"\n  if (normalized.includes(\" \")) {\n    const phraseRegex = new RegExp(`\\\\b${escapeRegExp(normalized)}\\\\b`, \"i\");\n    return phraseRegex.test(text);\n  }\n\n  if (normalized.length > 3) {\n    for (const token of tokens) {\n      if (token.startsWith(normalized)) return true;\n      if (normalized.startsWith(token) && token.length >= 4 && token.startsWith(normalized.slice(0, token.length))) {\n        return true;\n      }\n    }\n    const stemRegex = new RegExp(`\\\\b${escapeRegExp(normalized)}[a-z0-9]*\\\\b`, \"i\");\n    if (stemRegex.test(text)) return true;\n  }\n\n  return false;\n}\n\nfunction scoreTokenHits(text, tokens, terms) {\n  let score = 0;\n  for (const term of terms) {\n    if (!term) continue;\n    const normalized = normalizeText(term);\n    if (!normalized) continue;\n    if (normalized.includes(\" \")) {\n      const regex = new RegExp(`\\\\b${escapeRegExp(normalized)}\\\\b`, \"i\");\n      if (regex.test(text)) score += 12;\n      continue;\n    }\n    if (tokens.has(normalized)) {\n      score += 12;\n      continue;\n    }\n    for (const token of tokens) {\n      if (token.startsWith(normalized)) {\n        score += 10;\n        break;\n      }\n    }\n  }\n  return score;\n}\n\nfunction extractContext(message) {\n  const text = normalizeText(message);\n  const tokens = new Set(tokenize(message));\n\n  const familyHits = {\n    CCTV: 0,\n    RED: 0,\n    COMPUTO: 0,\n    CONTROL_ACCESO: 0,\n    BARRERA: 0,\n  };\n\n  Object.keys(FAMILY_HINTS).forEach((family) => {\n    for (const term of FAMILY_HINTS[family]) {\n      if (termMatches(text, tokens, term)) {\n        familyHits[family] += term.includes(\" \") ? 16 : 14;\n      }\n    }\n  });\n\n  const hasSale = SALE_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasService = SERVICE_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasInstall = INSTALL_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasReplacement = REPLACEMENT_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasPowerSource = POWER_SOURCE_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasStorageMention = STORAGE_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasCctvMention =\n    FAMILY_HINTS.CCTV.some((term) => termMatches(text, tokens, term));\n  const hasExplicitDvrNvrStorageMention = DVR_NVR_DISK_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasPowerSaleCctv =\n    hasSale &&\n    hasPowerSource &&\n    hasCctvMention &&\n    !hasExplicitDvrNvrStorageMention;\n  const hasAction = SERVICE_MARKERS.some((term) => termMatches(text, tokens, term)) ||\n    INSTALL_MARKERS.some((term) => termMatches(text, tokens, term)) ||\n    REPLACEMENT_MARKERS.some((term) => termMatches(text, tokens, term)) ||\n    AMBIGUOUS_MARKERS.some((term) => termMatches(text, tokens, term) && term !== \"servicio\");\n\n  const hasGeneric = AMBIGUOUS_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasAnyFamily = Object.values(familyHits).some((score) => score > 0);\n  const strongFamily = Object.entries(familyHits)\n    .map(([family, score]) => ({ family, score }))\n    .sort((a, b) => b.score - a.score)\n    .find((it) => it.score > 0) || { family: \"\", score: 0 };\n\n  const operationType = hasSale\n    ? \"PRODUCTO\"\n    : hasInstall\n      ? \"SERVICIO_INSTALACION\"\n      : hasReplacement\n        ? \"SERVICIO\"\n        : hasService\n          ? \"SERVICIO\"\n          : \"DESCONOCIDO\";\n\n  return {\n    text,\n    tokens,\n    familyHits,\n    hasAnyFamily,\n    strongFamily,\n    hasSale,\n    hasService,\n    hasInstall,\n    hasReplacement,\n    hasPowerSource,\n    hasExplicitDvrNvrStorageMention,\n    hasPowerSaleCctv,\n    hasStorageMention,\n    hasCctvMention,\n    hasAction,\n    hasGeneric,\n    operationType,\n  };\n}\n\nfunction scoreConcept(message, concept, _catalog = DEFAULT_CATALOG) {\n  const context = extractContext(message);\n  const text = context.text;\n\n  const includeKeywords = conceptScoringKeywords(concept);\n  const excludeKeywords = conceptExclusionKeywords(concept);\n  const conceptHasStorageSignal = includeKeywords.some((term) => STORAGE_MARKERS.some((marker) => term === normalizeText(marker)));\n  const conceptLabel = normalizeText(concept?.invoice_concept || concept?.concepto_factura_recomendado || concept?.concepto_factura || \"\");\n  const conceptHasPowerSignal = includesAnyMarker(conceptLabel, POWER_PRODUCT_MARKERS) || includesAnyMarker(includeKeywords.join(\" \"), POWER_PRODUCT_MARKERS);\n  const conceptHasDvrNvrDiskSignal =\n    includesAnyMarker(conceptLabel, DVR_NVR_DISK_MARKERS) ||\n    includeKeywords.some((term) => {\n      const normalized = normalizeText(term);\n      return includesAnyMarker(normalized, DVR_NVR_DISK_MARKERS);\n    });\n  const hasPowerStorageRestriction = context.hasPowerSource && context.hasCctvMention && !context.hasStorageMention;\n\n  const matchedInclude = [];\n  const matchedExclude = [];\n\n  for (const key of includeKeywords) {\n    if (termMatches(text, context.tokens, key)) {\n      matchedInclude.push(key);\n    }\n  }\n\n  for (const key of excludeKeywords) {\n    if (termMatches(text, context.tokens, key)) {\n      matchedExclude.push(key);\n    }\n  }\n\n  const action = getConceptAction(concept);\n  const category = conceptCategory(concept);\n  const conceptType = normalizeConceptType(concept?.item_type);\n  const baseScore = Number(concept?.scoring?.base_score || concept?.score_base || 0) || 0;\n  const fiscalFit = concept?.fiscal_fit || {};\n  const actividadOk = String(fiscalFit.current_activity_ok || concept?.actividad_actual_ok || \"\").toLowerCase() !== \"false\";\n  const resicoOk = String(fiscalFit.resico_626_ok || concept?.resico_626_ok || \"\").toLowerCase() !== \"false\";\n\n  let confidence = Math.round(baseScore * 0.6);\n  const familyScore = context.familyHits[category] || 0;\n  confidence += Math.min(24, matchedInclude.length * 8);\n  confidence += Math.min(24, Math.round(familyScore));\n  confidence += context.strongFamily.family && context.strongFamily.family === category ? 10 : 0;\n\n  if (context.hasAnyFamily && category && context.familyHits[category] === 0) {\n    confidence -= 14;\n  }\n  if (context.hasAnyFamily && category === context.strongFamily.family) {\n    confidence += 8;\n  }\n\n  if (context.operationType === \"PRODUCTO\") {\n    confidence += conceptType === \"PRODUCTO\" ? 26 : conceptType === \"MIXTO\" ? 8 : -44;\n  } else if (context.operationType === \"SERVICIO_INSTALACION\") {\n    confidence += conceptType === \"SERVICIO\" ? 20 : conceptType === \"MIXTO\" ? 6 : -20;\n  } else if (context.operationType === \"SERVICIO\") {\n    confidence += conceptType === \"SERVICIO\" ? 16 : conceptType === \"MIXTO\" ? 4 : -16;\n    if (context.hasReplacement) confidence += conceptType === \"SERVICIO\" ? 4 : -4;\n  }\n\n  if (context.hasAction) confidence += 6;\n  if (context.operationType === \"PRODUCTO\") confidence += 2;\n  if (action === \"BLOQUEAR\") confidence = Math.min(confidence, 55);\n  if (hasPowerStorageRestriction && conceptHasStorageSignal) {\n    confidence -= 55;\n    if (!matchedExclude.includes(\"fuente_contexto_no_aplica_dispositivo\")) {\n      matchedExclude.push(\"fuente_contexto_no_aplica_dispositivo\");\n    }\n  }\n\n  if (!context.hasAnyFamily && context.hasSale) {\n    confidence += 6;\n  }\n\n  if (context.hasPowerSaleCctv) {\n    if (conceptType === \"PRODUCTO\" && conceptHasPowerSignal) {\n      confidence += 28;\n    } else if (conceptType === \"PRODUCTO\") {\n      confidence -= 18;\n    }\n    if (conceptHasDvrNvrDiskSignal) {\n      confidence -= 60;\n    }\n  }\n\n  if (matchedExclude.length > 0) confidence -= Math.min(24, matchedExclude.length * 8);\n  if (!actividadOk) confidence = Math.min(confidence, 45);\n  if (!resicoOk) confidence = Math.min(confidence, 35);\n\n  confidence = Math.max(0, Math.min(100, Math.round(confidence)));\n\n  const hasEvidence = (context.hasAnyFamily && context.hasAction) || (context.hasSale && context.hasAnyFamily) || (context.hasSale && matchedInclude.length > 0);\n  const reasons = [];\n  if (context.hasSale) reasons.push(\"venta_detectada\");\n  if (context.hasAction) reasons.push(\"accion_detectada\");\n  if (context.hasInstall) reasons.push(\"operacion:SERVICIO_INSTALACION\");\n  if (context.hasReplacement) reasons.push(\"operacion:SERVICIO\");\n  if (context.hasAnyFamily) reasons.push(`familia_detectada:${category || context.strongFamily.family || \"desconocida\"}`);\n  if (matchedInclude.length) reasons.push(`match:${matchedInclude.slice(0, 4).join(\"|\")}`);\n  if (matchedExclude.length) reasons.push(`exclude:${matchedExclude.join(\"|\")}`);\n  if (familyScore > 0) reasons.push(`familia_score:${familyScore}`);\n\n  return {\n    concept,\n    id: concept?.id || null,\n    score: confidence,\n    confidence,\n    action,\n    family: category,\n    conceptType,\n    hasFamilyHint: context.hasAnyFamily,\n    hasEvidence,\n    matched_include: matchedInclude,\n    matched_exclude: matchedExclude,\n    reasons,\n  };\n}\n\nfunction detectBlockedTerms(message, catalog) {\n  const concepts = Array.isArray(catalog?.concepts) ? catalog.concepts : [];\n  const context = extractContext(message);\n  const blockedMarkers = context ? [] : [];\n\n  const scoredBlocked = concepts\n    .filter((concept) => getConceptAction(concept) === \"BLOQUEAR\")\n    .map((concept) => scoreConcept(message, concept, catalog))\n    .filter((item) => item.matched_include.length > 0)\n    .sort((a, b) => b.confidence - a.confidence);\n\n  const hardTerms = scoredBlocked.flatMap((item) => item.matched_include || []);\n\n  return {\n    is_blocked: scoredBlocked.length > 0,\n    is_hard_block: scoredBlocked.length > 0,\n    hard_terms: hardTerms.slice(0, 8),\n    matched_block_concepts: scoredBlocked.slice(0, 5).map((item) => ({\n      id: item.id,\n      action: item.action,\n      confidence: item.confidence,\n      score: item.score,\n      concept_id: item.id,\n      concept_name: item.concept?.invoice_concept || null,\n    })),\n    selected_block: scoredBlocked[0]?.concept || null,\n    blocked_candidates: scoredBlocked,\n    context,\n  };\n}\n\nfunction sanitizeTop3(scoredEntries, options = {}) {\n  const nonConfirmable = options.nonConfirmable || false;\n  return scoredEntries\n    .sort((a, b) => (b.confidence - a.confidence) || (b.score - a.score) || (b.matched_include.length - a.matched_include.length))\n    .slice(0, 3)\n    .map((item) => ({\n      id: item.id,\n      accion_n8n: item.action,\n      score: item.score,\n      confidence: item.confidence,\n      family: item.family || \"N/A\",\n      concept_type: item.conceptType || normalizeConceptType(item.concept?.item_type),\n      concepto_sugerido: item.concept?.invoice_concept || item.concept?.concepto_factura_recomendado || item.concept?.concepto_factura || null,\n      concepto_factura: item.concept?.invoice_concept || item.concept?.concepto_factura_recomendado || item.concept?.concepto_factura || null,\n      clave_prod_serv: item.concept?.sat?.product_service_key || item.concept?.clave_prod_serv || null,\n      clave_unidad: item.concept?.sat?.unit_key || item.concept?.clave_unidad || null,\n      unidad: item.concept?.sat?.unit || null,\n      motivo: item.reasons.join(\"; \"),\n      candidatos_no_confirmados: nonConfirmable,\n      estado: nonConfirmable ? \"candidatos_no_confirmados\" : \"recomendados\",\n    }));\n}\n\nfunction buildReason(action, context, selected, blockInfo, ambiguous) {\n  const base = [];\n  if (blockInfo.is_blocked) base.push(\"bloqueo_base_aplicable\");\n  if (selected) {\n    if (action === \"SUGERIR\") base.push(\"confianza_alta\");\n    if (selected.reasons?.length) base.push(...selected.reasons);\n  }\n  if (ambiguous) base.push(\"mensaje_ambiguo: requiere_detalle_de_equipos\");\n  return base.length ? base.join(\"; \") : \"sin_razon_clara\";\n}\n\nfunction classifyMessage(message, catalog = DEFAULT_CATALOG) {\n  const concepts = Array.isArray(catalog?.concepts) ? catalog.concepts : [];\n  const context = extractContext(message);\n  const blockInfo = detectBlockedTerms(message, catalog);\n\n  const scored = concepts\n    .map((concept) => scoreConcept(message, concept, catalog))\n    .filter((item) => item.confidence > 0);\n\n  const candidatesForSuggestion = scored.filter((item) => item.action === \"SUGERIR\");\n  const sorted = candidatesForSuggestion.sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    if (b.confidence !== a.confidence) return b.confidence - a.confidence;\n    return b.matched_include.length - a.matched_include.length;\n  });\n  const sortedRaw = scored.sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    if (b.confidence !== a.confidence) return b.confidence - a.confidence;\n    return b.matched_include.length - a.matched_include.length;\n  });\n\n  const topScored = sorted[0] || null;\n  const topScoredRaw = sortedRaw[0] || null;\n\n  const onlyGenericWithoutSpecificContext = context.hasGeneric && !context.hasAnyFamily && !context.hasSale;\n  const genericEvidenceWeak = context.hasAction && !context.hasAnyFamily && !context.hasSale;\n  const ambiguous =\n    onlyGenericWithoutSpecificContext ||\n    !topScored ||\n    genericEvidenceWeak ||\n    topScored.confidence < 50 ||\n    !topScored.hasEvidence;\n\n  let action = \"PEDIR_ACLARACION\";\n  if (blockInfo.is_hard_block) {\n    action = \"BLOQUEAR\";\n    const blockCandidate = (blockInfo.matched_block_concepts || [])[0];\n    if (blockCandidate && blockCandidate.id) {\n      const blockConcept = concepts.find((item) => item.id === blockCandidate.id);\n      if (blockConcept && getConceptAction(blockConcept) === \"AGREGAR_ACTIVIDAD\") action = \"AGREGAR_ACTIVIDAD\";\n    }\n  } else if (topScored && topScored.confidence >= 80 && !ambiguous && topScored.action === \"SUGERIR\") {\n    action = \"SUGERIR\";\n  }\n\n  const isBillable = action === \"SUGERIR\";\n  const selected = isBillable ? topScored : null;\n  const concept = selected?.concept || null;\n  const sat = concept?.sat || {};\n  const fiscalFit = concept?.fiscal_fit || {};\n  const selectedFamily = selected ? selected.family : null;\n  const conceptType = selected ? selected.conceptType : null;\n\n  return {\n    accion_n8n: action,\n    matched_id: isBillable ? selected?.id || null : null,\n    concepto_id: isBillable ? selected?.id || null : null,\n    concept: isBillable ? concept : null,\n    concepto_sugerido: isBillable\n      ? concept?.invoice_concept || concept?.concepto_factura_recomendado || concept?.concepto_factura || null\n      : null,\n    concepto_factura: isBillable\n      ? concept?.invoice_concept || concept?.concepto_factura_recomendado || concept?.concepto_factura || null\n      : null,\n    clave_prod_serv: isBillable ? (sat.product_service_key || concept?.clave_prod_serv || null) : null,\n    clave_unidad: isBillable ? (sat.unit_key || concept?.clave_unidad || null) : null,\n    unidad: isBillable ? (sat.unit || null) : null,\n    family: selectedFamily || null,\n    concept_type: conceptType || null,\n    operation_type: context.operationType,\n    iva: isBillable ? (sat.suggested_iva || null) : null,\n    actividad_relacionada: isBillable\n      ? (Array.isArray(fiscalFit.supported_activity_ids) ? fiscalFit.supported_activity_ids : null)\n      : null,\n    objeto_imp: isBillable ? (sat.tax_object || sat.objeto_impuesto || null) : \"referencia\",\n    requires_revision_humana: true,\n    requiere_revision_humana: true,\n    confidence: isBillable ? topScored?.confidence || 0 : topScoredRaw?.confidence || 0,\n    top_3: sanitizeTop3(isBillable ? sorted : sortedRaw, { nonConfirmable: !isBillable }),\n    reason: buildReason(action, context, topScored, blockInfo, ambiguous),\n    blocked_terms: blockInfo,\n  };\n}\n\nfunction formatTelegramMessage(result) {\n  const lines = [];\n  lines.push(`Accion: ${result.accion_n8n}`);\n  lines.push(`Mensaje sugerido: ${result.concepto_sugerido || \"Sin propuesta\"}`);\n  lines.push(`Clave SAT: ${result.clave_prod_serv || \"Sin clave\"}`);\n  lines.push(`Clave unidad: ${result.clave_unidad || \"Sin clave\"}`);\n  lines.push(`Unidad: ${result.unidad || \"Sin unidad\"}`);\n  lines.push(`Confianza: ${Math.round(result.confidence || 0)}%`);\n  lines.push(`Operacion: ${result.operation_type || \"DESCONOCIDO\"}`);\n  lines.push(`Requiere revision humana: ${result.requires_revision_humana ? \"Si\" : \"No\"}`);\n  if (result.accion_n8n === \"PEDIR_ACLARACION\") {\n    lines.push(\"No captures esto todavía. Falta especificar el equipo/sistema atendido.\");\n  }\n  lines.push(`Motivo: ${result.reason || \"\"}`);\n  const top3 = (result.top_3 || [])\n    .map((item, index) =>\n      `${index + 1}. ${item.id} (${item.accion_n8n}) score=${item.score} conf=${item.confidence} ${item.candidatos_no_confirmados ? \"[candidatos_no_confirmados]\" : \"\"}`)\n    .join(\" | \");\n  lines.push(`Top3: ${top3 || \"Sin candidatos\"}`);\n  return lines.join(\"\\n\");\n}\n\nfunction buildN8nResponse(classificationResult, messageOriginal = \"\") {\n  const result = classificationResult || {};\n  const action = result.accion_n8n || \"PEDIR_ACLARACION\";\n  const isSugerir = action === \"SUGERIR\";\n  const isBlock = action === \"BLOQUEAR\" || action === \"AGREGAR_ACTIVIDAD\";\n\n  const top3 = Array.isArray(result.top_3) ? [...result.top_3] : [];\n  const candidateTop = top3.length > 0 ? top3[0].confidence || top3[0].score || 0 : 0;\n\n  const conceptIsReady = isSugerir;\n  const concept = conceptIsReady\n    ? {\n        id: result.concepto_id || result.matched_id || null,\n        concepto_factura: result.concepto_factura || result.concepto_sugerido || null,\n        clave_prod_serv: result.clave_prod_serv || null,\n        clave_unidad: result.clave_unidad || null,\n        unidad: result.unidad || null,\n        familia: result.family || null,\n        tipo: result.concept_type || null,\n        operacion: result.operation_type || null,\n      }\n    : {\n        id: null,\n        concepto_factura: null,\n        clave_prod_serv: null,\n        clave_unidad: null,\n        unidad: null,\n        familia: null,\n        tipo: null,\n        operacion: null,\n      };\n\n  const ready = isSugerir;\n  const safetyLevel = isSugerir\n    ? \"OK\"\n    : isBlock\n      ? \"BLOCKED\"\n      : \"NEEDS_CLARIFICATION\";\n\n  let telegramMessage = \"\";\n  if (isSugerir) {\n    const reviewWarning = \"Requiere revisión humana antes de timbrar.\";\n    telegramMessage = [\n      `Concepto sugerido: ${concept.concepto_factura}`,\n      `Clave SAT: ${concept.clave_prod_serv}`,\n      `Unidad: ${concept.unidad}`,\n      `Familia: ${concept.familia}`,\n      `Tipo: ${concept.tipo}`,\n      `Operación: ${concept.operacion || \"DESCONOCIDO\"}`,\n      reviewWarning,\n    ].join(\"\\n\");\n  } else if (action === \"PEDIR_ACLARACION\") {\n    telegramMessage = [\n      \"No captures esto todavía. Falta especificar el equipo/sistema atendido.\",\n      \"¿Qué equipo o sistema fue atendido? Ejemplo: CCTV, control de acceso, red, computadora, barrera.\",\n    ].join(\"\\n\");\n  } else {\n    const blockReason =\n      result.blocked_terms?.selected_block?.invoice_concept ||\n      \"No debe facturarse con la actividad actual. Registra esta acción en otro flujo o espera confirmación de actividad.\";\n    telegramMessage = [\n      \"No está listo para facturar con la actividad actual.\",\n      blockReason,\n      \"Requiere revisión humana antes de emitir CFDI.\",\n    ].join(\"\\n\");\n  }\n\n  return {\n    action,\n    ready_to_copy: ready,\n    requires_human_review: true,\n    message_original: messageOriginal || \"\",\n    decision_confidence: isSugerir ? Math.round(result.confidence || 0) : Math.round(result.confidence || 0),\n    candidate_confidence: Math.round(candidateTop || 0),\n    safety_level: safetyLevel,\n    concept,\n    top_3: isSugerir ? top3 : isBlock ? [] : top3,\n    telegram_message: telegramMessage,\n    json_debug: {\n      score: result.confidence ?? null,\n      family: concept.familia,\n      type: concept.tipo,\n      operation: concept.operacion,\n      reason: result.reason || null,\n      top3_length: top3.length,\n      action_flow: isBlock ? \"guard_rail\" : isSugerir ? \"invoice_candidate\" : \"clarify_required\",\n      blocked_terms: result.blocked_terms || null,\n    },\n  };\n}\n\nconst REQUIRED_CATALOG_PATH = 'C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/data/concepts.normalized.json';\nconst catalogHint = `catalogPath debe ser absoluto en n8n 2.4.4. Usa: ${REQUIRED_CATALOG_PATH}`;\n\nfunction ensureCatalogInputPath(rawPath) {\n  const catalogPath = (typeof rawPath === 'string' ? rawPath.trim() : '');\n  if (!catalogPath) {\n    throw new Error('catalogPath es requerido y debe ser absoluto en n8n 2.4.4. Usa: ' + REQUIRED_CATALOG_PATH);\n  }\n\n  if (!path.isAbsolute(catalogPath)) {\n    throw new Error(catalogHint);\n  }\n\n  return path.normalize(catalogPath);\n}\n\n\nconst input = $json || {};\nconst message = (input.message || input.text || '').toString().trim();\nconst catalogPath = (input.catalogPath || '').toString().trim();\nconst runtimePath = (input.runtimePath || '').toString().trim();\nconst workflowVersion = (input.workflowVersion || 'CFDI_WITH_HISTORY_3C2_ROUTER_FIX').toString().trim();\nconst inputLastTelegramUpdateId = Number(input.lastTelegramUpdateId || input.lastUpdateId || 0) || 0;\n\nfunction emptyConcept() {\n  return {\n    id: null,\n    concepto_factura: null,\n    clave_prod_serv: null,\n    clave_unidad: null,\n    unidad: null,\n    familia: null,\n    tipo: null,\n    operacion: null,\n  };\n}\n\nfunction makeErrorResponse(error) {\n  const detail = error && error.message ? error.message : String(error || 'Error desconocido');\n  return {\n    action: 'PEDIR_ACLARACION',\n    ready_to_copy: false,\n    requires_human_review: true,\n    message_original: message,\n    decision_confidence: 0,\n    candidate_confidence: 0,\n    safety_level: 'NEEDS_CLARIFICATION',\n    concept: emptyConcept(),\n    top_3: [],\n    telegram_message: [\n      'No pude procesar este mensaje por un error local.',\n      'Detalle: ' + detail,\n      'Revisa catalogPath, runtimePath y el arranque de n8n con NODE_FUNCTION_ALLOW_BUILTIN=fs,path.',\n    ].join('\\n'),\n    json_debug: { error: detail, source: 'history_workflow' },\n  };\n}\n\nfunction ensureAbsolutePath(rawPath, label, expected) {\n  const value = (rawPath || '').toString().trim();\n  if (!value) throw new Error(label + ' es requerido. Usa: ' + expected);\n  if (!path.isAbsolute(value)) throw new Error(label + ' debe ser absoluto. Usa: ' + expected);\n  return path.normalize(value);\n}\n\nconst files = {\n  events: 'telegram-events.jsonl',\n  drafts: 'cfdi-drafts.jsonl',\n  actions: 'actions-log.jsonl',\n  state: 'telegram-state.json',\n};\n\nfunction defaultTelegramState() {\n  return {\n    lastTelegramUpdateId: 0,\n    processedUpdateIds: [],\n    chatStates: {},\n    lastRunAt: '',\n    workflowVersion,\n  };\n}\n\nfunction normalizeTelegramState(raw) {\n  const base = defaultTelegramState();\n  const state = raw && typeof raw === 'object' ? raw : {};\n  const processed = Array.isArray(state.processedUpdateIds) ? state.processedUpdateIds : [];\n  return {\n    ...base,\n    ...state,\n    lastTelegramUpdateId: Number(state.lastTelegramUpdateId || inputLastTelegramUpdateId || 0) || 0,\n    processedUpdateIds: processed.map((id) => Number(id)).filter((id) => Number.isFinite(id)).slice(-500),\n    chatStates: state.chatStates && typeof state.chatStates === 'object' ? state.chatStates : {},\n    workflowVersion: workflowVersion || state.workflowVersion || base.workflowVersion,\n  };\n}\n\nfunction ensureRuntime(rawRuntimePath) {\n  const resolved = ensureAbsolutePath(rawRuntimePath, 'runtimePath', 'C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/runtime');\n  fs.mkdirSync(resolved, { recursive: true });\n  [files.events, files.drafts, files.actions].forEach((fileName) => {\n    const filePath = path.join(resolved, fileName);\n    if (!fs.existsSync(filePath)) fs.appendFileSync(filePath, '', 'utf8');\n  });\n  const statePath = path.join(resolved, files.state);\n  if (!fs.existsSync(statePath)) fs.writeFileSync(statePath, JSON.stringify(defaultTelegramState(), null, 2), 'utf8');\n  return {\n    root: resolved,\n    eventsPath: path.join(resolved, files.events),\n    draftsPath: path.join(resolved, files.drafts),\n    actionsPath: path.join(resolved, files.actions),\n    statePath,\n  };\n}\n\nfunction readTelegramState(paths) {\n  if (!paths || !paths.statePath || !fs.existsSync(paths.statePath)) return defaultTelegramState();\n  try {\n    return normalizeTelegramState(JSON.parse(fs.readFileSync(paths.statePath, 'utf8')));\n  } catch (_error) {\n    return defaultTelegramState();\n  }\n}\n\nfunction writeTelegramState(paths, state) {\n  if (!paths || !paths.statePath) return;\n  const normalized = normalizeTelegramState(state);\n  normalized.workflowVersion = workflowVersion;\n  normalized.lastRunAt = new Date().toISOString();\n  fs.writeFileSync(paths.statePath, JSON.stringify(normalized, null, 2), 'utf8');\n}\n\nfunction chatStateKey(chatId) {\n  return String(chatId || 'unknown');\n}\n\nfunction getChatState(paths, chatId) {\n  const state = readTelegramState(paths);\n  return state.chatStates[chatStateKey(chatId)] || null;\n}\n\nfunction saveChatState(paths, chatId, value) {\n  const state = readTelegramState(paths);\n  state.chatStates[chatStateKey(chatId)] = {\n    ...(value || {}),\n    updated_at: new Date().toISOString(),\n    workflowVersion,\n  };\n  writeTelegramState(paths, state);\n}\n\nfunction clearChatState(paths, chatId) {\n  const state = readTelegramState(paths);\n  const key = chatStateKey(chatId);\n  const existed = Object.prototype.hasOwnProperty.call(state.chatStates, key);\n  if (existed) delete state.chatStates[key];\n  writeTelegramState(paths, state);\n  return existed;\n}\n\nfunction appendJsonl(filePath, value) {\n  fs.appendFileSync(filePath, JSON.stringify(value) + '\\n', 'utf8');\n}\n\nfunction readJsonl(filePath) {\n  if (!fs.existsSync(filePath)) return [];\n  return fs.readFileSync(filePath, 'utf8')\n    .split(/\\r?\\n/)\n    .map((line) => line.trim())\n    .filter(Boolean)\n    .map((line) => {\n      try { return JSON.parse(line); } catch (_error) { return null; }\n    })\n    .filter(Boolean);\n}\n\nfunction latestDrafts(draftsPath) {\n  const byId = new Map();\n  for (const draft of readJsonl(draftsPath)) {\n    if (!draft || !draft.draft_id) continue;\n    byId.set(String(draft.draft_id), draft);\n  }\n  return Array.from(byId.values()).sort((a, b) => String(b.timestamp || '').localeCompare(String(a.timestamp || '')));\n}\n\nfunction todayKey(value) {\n  const source = value || new Date().toISOString();\n  return String(source).slice(0, 10);\n}\n\nfunction draftIdFromTimestamp(timestamp, updateId) {\n  const clean = String(timestamp || new Date().toISOString()).replace(/[-:]/g, '').replace(/T/, '-').replace(/\\..+$/, '');\n  return 'DRAFT-' + clean + '-' + String(updateId || 'manual');\n}\n\nfunction eventIdFromTimestamp(timestamp, updateId) {\n  return 'EVT-' + String(timestamp || new Date().toISOString()).replace(/[-:.TZ]/g, '') + '-' + String(updateId || 'manual');\n}\n\nfunction draftSummaryLine(draft, index) {\n  const concept = draft.concept || {};\n  return [\n    String(index + 1) + '.',\n    draft.draft_id,\n    '[' + (draft.status || 'SIN_STATUS') + ']',\n    concept.id || 'SIN_CONCEPTO',\n    '-',\n    concept.concepto_factura || draft.message_original || 'Sin detalle',\n  ].join(' ');\n}\n\nfunction draftDetail(draft) {\n  if (!draft) return 'No encontre ese borrador.';\n  const concept = draft.concept || {};\n  return [\n    'Detalle de borrador',\n    'ID: ' + draft.draft_id,\n    'Status: ' + draft.status,\n    'Mensaje: ' + (draft.message_original || ''),\n    'Concepto: ' + (concept.concepto_factura || 'N/A'),\n    'Clave SAT: ' + (concept.clave_prod_serv || 'N/A'),\n    'Unidad: ' + (concept.unidad || 'N/A'),\n    'Familia: ' + (concept.familia || 'N/A'),\n    'Tipo: ' + (concept.tipo || 'N/A'),\n    'Operacion: ' + (concept.operacion || 'N/A'),\n    'Revision humana: ' + (draft.requires_human_review ? 'Si' : 'No'),\n  ].join('\\n');\n}\n\nfunction commandHelp() {\n  return [\n    'Comandos disponibles:',\n    '/pendientes - ver ultimos borradores pendientes',\n    '/hoy - resumen del dia',\n    '/aprobadas - ver ultimos aprobados',\n    '/aprobar DRAFT_ID - marcar como aprobado',\n    '/descartar DRAFT_ID - marcar como descartado',\n    '/detalle DRAFT_ID - ver detalle',\n    '/debug - ver version y rutas activas',\n    '/cancelar - limpiar aclaracion pendiente',\n  ].join('\\n');\n}\n\nfunction displayPath(value) {\n  return String(value || 'N/A').replace(/\\\\/g, '/');\n}\n\nfunction buildDebugMessage(paths) {\n  const state = readTelegramState(paths);\n  const hasChatState = Boolean(state.chatStates && state.chatStates[chatStateKey(input.chat_id)]);\n  const lastUpdateId = Number(state.lastTelegramUpdateId || inputLastTelegramUpdateId || 0) || 0;\n  return [\n    'Debug CFDI Telegram',\n    'workflowVersion: ' + workflowVersion,\n    'catalogPath: ' + displayPath(catalogPath),\n    'runtimePath: ' + displayPath(runtimePath),\n    'lastTelegramUpdateId: ' + lastUpdateId,\n    'chatState: ' + (hasChatState ? 'existe' : 'no existe'),\n    'timestamp: ' + new Date().toISOString(),\n  ].join('\\n');\n}\n\nfunction appendWorkflowVersion(result) {\n  if (!result) return result;\n  const line = 'Versi\\u00f3n: ' + workflowVersion;\n  const current = String(result.telegram_message || '').trim();\n  return {\n    ...result,\n    workflowVersion,\n    telegram_message: current ? current + '\\n\\n' + line : line,\n    json_debug: {\n      ...(result.json_debug || {}),\n      workflowVersion,\n    },\n  };\n}\n\nfunction updateDraftStatus(paths, draftId, status, actorChatId) {\n  const drafts = latestDrafts(paths.draftsPath);\n  const current = drafts.find((draft) => String(draft.draft_id) === String(draftId));\n  const timestamp = new Date().toISOString();\n  if (!current) {\n    return { ok: false, text: 'No encontre el borrador ' + draftId + '.' };\n  }\n  const updated = {\n    ...current,\n    timestamp,\n    status,\n    status_updated_at: timestamp,\n    status_updated_by_chat_id: actorChatId,\n  };\n  appendJsonl(paths.draftsPath, updated);\n  appendJsonl(paths.actionsPath, {\n    action_id: 'ACT-' + timestamp.replace(/[-:.TZ]/g, '') + '-' + String(input.update_id || 'manual'),\n    timestamp,\n    chat_id: actorChatId,\n    update_id: input.update_id || null,\n    message_id: input.message_id || null,\n    command: status === 'APROBADO' ? '/aprobar' : '/descartar',\n    draft_id: draftId,\n    status_after: status,\n  });\n  return { ok: true, text: 'Borrador ' + draftId + ' marcado como ' + status + '.' };\n}\n\nfunction parseCommand() {\n  const match = message.match(/^\\/([^\\s]+)(?:\\s+([\\s\\S]*))?$/);\n  if (!match) return { command: '', arg: '' };\n  return {\n    command: '/' + String(match[1] || '').toLowerCase(),\n    arg: String(match[2] || '').trim(),\n  };\n}\n\nfunction commandResult(action, text, extra = {}) {\n  return {\n    action,\n    ready_to_copy: false,\n    requires_human_review: true,\n    message_original: message,\n    decision_confidence: 0,\n    candidate_confidence: 0,\n    safety_level: action === 'PEDIR_SEPARAR_MENSAJES' ? 'NEEDS_CLARIFICATION' : 'OK',\n    concept: emptyConcept(),\n    top_3: [],\n    telegram_message: text,\n    json_debug: extra,\n  };\n}\n\nfunction looksLikeActivityLine(line) {\n  const normalized = normalizeText(line);\n  if (!normalized) return false;\n  const activityHints = [\n    'revis',\n    'revision',\n    'servicio',\n    'venta',\n    'desarroll',\n    'mantenimiento',\n    'configur',\n    'instal',\n    'cambi',\n    'diagnost',\n    'formate',\n    'ajust',\n    'repar',\n  ];\n  return activityHints.some((hint) => normalized.includes(hint));\n}\n\nfunction shouldAskToSeparateMessages(text) {\n  const lines = String(text || '')\n    .split(/\\r?\\n/)\n    .map((line) => line.trim())\n    .filter(Boolean);\n  if (lines.length < 2) return false;\n  const activityLines = lines.filter(looksLikeActivityLine);\n  const distinctActivityLines = new Set(activityLines.map(normalizeText));\n  return activityLines.length >= 2 && distinctActivityLines.size >= 2;\n}\n\nfunction buildSeparateMessagesResponse(text) {\n  const lines = String(text || '')\n    .split(/\\r?\\n/)\n    .map((line) => line.trim())\n    .filter(Boolean);\n  return commandResult(\n    'PEDIR_SEPARAR_MENSAJES',\n    'Detect\\u00e9 varias solicitudes en un solo mensaje. Env\\u00edame una actividad por mensaje para evitar errores.',\n    {\n      route: 'split_required',\n      non_empty_line_count: lines.length,\n      activity_line_count: lines.filter(looksLikeActivityLine).length,\n    },\n  );\n}\n\nfunction handleCommand(paths) {\n  const parsed = parseCommand();\n  const command = parsed.command;\n  const arg = parsed.arg;\n  const drafts = latestDrafts(paths.draftsPath);\n  const timestamp = new Date().toISOString();\n\n  if (command === '/start' || command === '/help') {\n    return commandResult('COMMAND_HELP', commandHelp(), { command, route: 'help', workflowVersion });\n  }\n\n  if (command === '/debug') {\n    return commandResult('COMMAND_DEBUG', buildDebugMessage(paths), { command, route: 'debug', workflowVersion });\n  }\n\n  if (command === '/cancelar') {\n    const existed = clearChatState(paths, input.chat_id);\n    const text = existed ? 'Aclaracion pendiente cancelada.' : 'No habia aclaracion pendiente para cancelar.';\n    return commandResult('COMMAND_CANCELAR', text, { command, route: 'cancelar', cleared: existed });\n  }\n\n  if (command === '/pendientes') {\n    const pending = drafts.filter((draft) => draft.status === 'PENDIENTE').slice(0, 10);\n    const text = pending.length\n      ? ['Pendientes:', ...pending.map(draftSummaryLine)].join('\\n')\n      : 'No hay borradores pendientes.';\n    return commandResult('COMMAND_PENDIENTES', text, { command, route: 'pendientes' });\n  }\n\n  if (command === '/aprobadas') {\n    const approved = drafts.filter((draft) => draft.status === 'APROBADO').slice(0, 10);\n    const text = approved.length\n      ? ['Aprobadas:', ...approved.map(draftSummaryLine)].join('\\n')\n      : 'No hay borradores aprobados.';\n    return commandResult('COMMAND_APROBADAS', text, { command, route: 'aprobadas' });\n  }\n\n  if (command === '/hoy') {\n    const today = todayKey(timestamp);\n    const todayDrafts = drafts.filter((draft) => todayKey(draft.timestamp) === today);\n    const events = readJsonl(paths.eventsPath).filter((event) => todayKey(event.timestamp) === today);\n    const count = (status) => todayDrafts.filter((draft) => draft.status === status).length;\n    const blocked = events.filter((event) => ['BLOQUEAR', 'AGREGAR_ACTIVIDAD'].includes(event.result_action)).length;\n    const text = [\n      'Resumen de hoy ' + today,\n      'Pendientes: ' + count('PENDIENTE'),\n      'Aprobados: ' + count('APROBADO'),\n      'Descartados: ' + count('DESCARTADO'),\n      'Bloqueados: ' + blocked,\n    ].join('\\n');\n    return commandResult('COMMAND_HOY', text, { command, route: 'hoy' });\n  }\n\n  if (command === '/aprobar') {\n    const text = arg ? updateDraftStatus(paths, arg, 'APROBADO', input.chat_id).text : 'Uso: /aprobar DRAFT_ID';\n    return commandResult('COMMAND_APROBAR', text, { command, draft_id: arg || null, route: 'aprobar' });\n  }\n\n  if (command === '/descartar') {\n    const text = arg ? updateDraftStatus(paths, arg, 'DESCARTADO', input.chat_id).text : 'Uso: /descartar DRAFT_ID';\n    return commandResult('COMMAND_DESCARTAR', text, { command, draft_id: arg || null, route: 'descartar' });\n  }\n\n  if (command === '/detalle') {\n    const draft = drafts.find((item) => String(item.draft_id) === String(arg));\n    const text = arg ? draftDetail(draft) : 'Uso: /detalle DRAFT_ID';\n    return commandResult('COMMAND_DETALLE', text, { command, draft_id: arg || null, route: 'detalle' });\n  }\n\n  return commandResult(\n    'COMMAND_UNKNOWN',\n    ['Comando no reconocido.', commandHelp()].join('\\n\\n'),\n    { command, route: 'unknown' },\n  );\n}\n\nfunction appendEvent(paths, result) {\n  const timestamp = new Date().toISOString();\n  appendJsonl(paths.eventsPath, {\n    event_id: eventIdFromTimestamp(timestamp, input.update_id),\n    timestamp,\n    update_id: input.update_id || '',\n    message_id: input.message_id || '',\n    chat_id: input.chat_id || '',\n    text: message,\n    result_action: result.action || result.accion_n8n || '',\n    ready_to_copy: result.ready_to_copy === true,\n    telegram_message: result.telegram_message || '',\n    workflowVersion,\n  });\n}\n\nfunction appendDraftIfNeeded(paths, result) {\n  if (!(result.action === 'SUGERIR' && result.ready_to_copy === true)) return null;\n  const existing = readJsonl(paths.draftsPath).some((draft) => String(draft.update_id || '') === String(input.update_id || ''));\n  if (existing) return null;\n\n  const timestamp = new Date().toISOString();\n  const draft = {\n    draft_id: draftIdFromTimestamp(timestamp, input.update_id),\n    timestamp,\n    update_id: input.update_id || null,\n    message_id: input.message_id || null,\n    chat_id: input.chat_id || '',\n    message_original: result.message_original || message,\n    status: 'PENDIENTE',\n    action: result.action,\n    ready_to_copy: result.ready_to_copy === true,\n    concept: result.concept || emptyConcept(),\n    top_3: Array.isArray(result.top_3) ? result.top_3 : [],\n    requires_human_review: true,\n  };\n  appendJsonl(paths.draftsPath, draft);\n  appendJsonl(paths.actionsPath, {\n    action_id: 'ACT-' + timestamp.replace(/[-:.TZ]/g, '') + '-' + String(input.update_id || 'manual'),\n    timestamp,\n    chat_id: input.chat_id || '',\n    update_id: input.update_id || null,\n    message_id: input.message_id || null,\n    command: 'CREATE_DRAFT',\n    draft_id: draft.draft_id,\n    status_after: 'PENDIENTE',\n  });\n  return draft;\n}\n\nlet response;\nlet runtimePaths = null;\ntry {\n  if (!message) throw new Error('Mensaje vacio: no hay texto para procesar.');\n  runtimePaths = ensureRuntime(runtimePath);\n\n  if (message.startsWith('/')) {\n    response = handleCommand(runtimePaths);\n  } else if (shouldAskToSeparateMessages(message)) {\n    response = appendWorkflowVersion(buildSeparateMessagesResponse(message));\n  } else {\n    const resolvedCatalogPath = ensureCatalogInputPath(catalogPath);\n    if (!fs.existsSync(resolvedCatalogPath)) {\n      throw new Error('Archivo no encontrado: ' + resolvedCatalogPath + '. Revisa catalogPath y confirma que exista concepts.normalized.json.');\n    }\n    const catalog = JSON.parse(fs.readFileSync(resolvedCatalogPath, 'utf8'));\n    const previousChatState = getChatState(runtimePaths, input.chat_id);\n    const hasPendingClarification = Boolean(previousChatState && previousChatState.original_text);\n    const scoringMessage = hasPendingClarification\n      ? [String(previousChatState.original_text || '').trim(), message].filter(Boolean).join(' ')\n      : message;\n    const raw = classifyMessage(scoringMessage, catalog);\n    response = buildN8nResponse(raw, scoringMessage);\n    response.json_debug = {\n      ...(response.json_debug || {}),\n      used_chat_state: hasPendingClarification,\n      current_message: message,\n      previous_original_text: hasPendingClarification ? previousChatState.original_text : null,\n    };\n    if (response.action === 'PEDIR_ACLARACION') {\n      saveChatState(runtimePaths, input.chat_id, {\n        status: 'PEDIR_ACLARACION',\n        original_text: scoringMessage,\n        last_text: message,\n        update_id: input.update_id || null,\n        message_id: input.message_id || null,\n      });\n    } else {\n      clearChatState(runtimePaths, input.chat_id);\n    }\n    const createdDraft = appendDraftIfNeeded(runtimePaths, response);\n    if (createdDraft) {\n      response.telegram_message = response.telegram_message + '\\n\\nBorrador pendiente: ' + createdDraft.draft_id;\n      response.json_debug = { ...(response.json_debug || {}), draft_id: createdDraft.draft_id };\n    }\n    response = appendWorkflowVersion(response);\n  }\n\n  appendEvent(runtimePaths, response);\n} catch (error) {\n  response = makeErrorResponse(error);\n  try {\n    runtimePaths = ensureRuntime(runtimePath || 'C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/runtime');\n    appendEvent(runtimePaths, response);\n  } catch (_ignored) {}\n}\n\nreturn [{\n  json: {\n    ...input,\n    ...response,\n    telegramBotToken: input.telegramBotToken,\n    chat_id: input.chat_id,\n    update_id: input.update_id,\n    message_id: input.message_id,\n    text: input.text,\n    workflowVersion,\n    statePath: runtimePaths ? runtimePaths.statePath : input.statePath,\n    eventsPath: runtimePaths ? runtimePaths.eventsPath : input.eventsPath,\n    draftsPath: runtimePaths ? runtimePaths.draftsPath : input.draftsPath,\n    actionsPath: runtimePaths ? runtimePaths.actionsPath : input.actionsPath,\n    send_text: response.telegram_message,\n  },\n}];"
      },
      "id": "handle_commands_and_scoring",
      "name": "Handle Commands And Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://api.telegram.org/bot' + $json.telegramBotToken + '/sendMessage'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $json.chat_id, text: $json.telegram_message } }}",
        "options": {}
      },
      "id": "telegram_send_message",
      "name": "Telegram sendMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        300
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nfunction appendJsonl(filePath, value) {\n  fs.appendFileSync(filePath, JSON.stringify(value) + '\\n', 'utf8');\n}\n\nfunction compactError(value) {\n  if (!value) return '';\n  if (typeof value === 'string') return value;\n  if (value.message) return String(value.message);\n  if (value.description) return String(value.description);\n  try { return JSON.stringify(value); } catch (_error) { return String(value); }\n}\n\nconst current = $json || {};\nlet source = {};\ntry {\n  if (typeof $items === 'function') {\n    const prior = $items('Handle Commands And Scoring', 0, $itemIndex) || [];\n    if (prior[0] && prior[0].json) source = prior[0].json;\n  }\n} catch (_error) {}\n\nconst runtimePath = path.normalize(source.runtimePath || current.runtimePath || '');\nconst actionsPath = source.actionsPath || current.actionsPath || (runtimePath ? path.join(runtimePath, 'actions-log.jsonl') : '');\nconst timestamp = new Date().toISOString();\nconst statusCode = Number(current.statusCode || current.status || 0) || 0;\nconst failed = Boolean(\n  current.error ||\n  current.errorMessage ||\n  current.message === 'The connection to the server was closed unexpectedly' ||\n  statusCode >= 400 ||\n  current.ok === false ||\n  (current.description && current.ok !== true)\n);\n\nif (actionsPath) {\n  try {\n    fs.mkdirSync(path.dirname(actionsPath), { recursive: true });\n    appendJsonl(actionsPath, {\n      action_id: 'ACT-' + timestamp.replace(/[-:.TZ]/g, '') + '-' + String(source.update_id || current.update_id || 'send'),\n      timestamp,\n      command: failed ? 'SEND_MESSAGE_FAILED' : 'SEND_MESSAGE_OK',\n      update_id: source.update_id || current.update_id || null,\n      message_id: source.message_id || current.message_id || null,\n      chat_id: source.chat_id || current.chat_id || null,\n      workflowVersion: source.workflowVersion || current.workflowVersion || '',\n      error: failed ? compactError(current.error || current.errorMessage || current.description || current.message || current) : null,\n    });\n  } catch (_ignored) {}\n}\n\nreturn [{\n  json: {\n    ...source,\n    send_result: current,\n    send_failed: failed,\n  },\n}];"
      },
      "id": "log_telegram_send_result",
      "name": "Log Telegram Send Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Prepare Telegram Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Request": {
      "main": [
        [
          {
            "node": "Telegram getUpdates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram getUpdates": {
      "main": [
        [
          {
            "node": "Manage Telegram Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manage Telegram Updates": {
      "main": [
        [
          {
            "node": "Handle Commands And Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Commands And Scoring": {
      "main": [
        [
          {
            "node": "Telegram sendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram sendMessage": {
      "main": [
        [
          {
            "node": "Log Telegram Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "active": false,
  "notesInFlow": false
}
