workflow/cfdi_telegram_polling_local.n8n.json
{
  "name": "cfdi_telegram_polling_local",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 30
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "telegramBotToken",
              "value": "REEMPLAZAR_TELEGRAM_BOT_TOKEN_EN_N8N"
            },
            {
              "name": "catalogPath",
              "value": "C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/data/concepts.normalized.json"
            }
          ],
          "number": [
            {
              "name": "pollingLimit",
              "value": 10
            }
          ]
        },
        "options": {
          "keepOnlySet": true
        }
      },
      "id": "set_config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        380,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const input = $json || {};\nconst placeholder = 'REEMPLAZAR_TELEGRAM_BOT_TOKEN_EN_N8N';\nconst telegramBotToken = (input.telegramBotToken || '').toString().trim();\nconst catalogPath = (input.catalogPath || '').toString().trim();\nconst pollingLimit = Number(input.pollingLimit || 10) || 10;\n\nif (!telegramBotToken || telegramBotToken === placeholder) {\n  throw new Error('Configura telegramBotToken en el nodo Set Config. No pegues el token en archivos del proyecto.');\n}\n\nif (!catalogPath) {\n  throw new Error('catalogPath es requerido. Usa: C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/data/concepts.normalized.json');\n}\n\nconst staticData = $getWorkflowStaticData('global');\nconst lastUpdateId = Number(staticData.lastTelegramUpdateId || 0) || 0;\nconst nextOffset = lastUpdateId > 0 ? lastUpdateId + 1 : 0;\n\nreturn [{\n  json: {\n    ...input,\n    telegramBotToken,\n    catalogPath,\n    pollingLimit,\n    lastUpdateId,\n    nextOffset,\n    offsetStrategy: 'workflow_static_data',\n  },\n}];"
      },
      "id": "prepare_telegram_request",
      "name": "Prepare Telegram Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{'https://api.telegram.org/bot' + $json.telegramBotToken + '/getUpdates'}}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeout",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "={{$json.pollingLimit}}"
            },
            {
              "name": "offset",
              "value": "={{$json.nextOffset}}"
            }
          ]
        },
        "options": {}
      },
      "id": "telegram_get_updates",
      "name": "Telegram getUpdates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const config = $node['Prepare Telegram Request'] ? $node['Prepare Telegram Request'].json : {};\nconst response = $json || {};\nconst updates = Array.isArray(response.result) ? response.result : [];\nconst staticData = $getWorkflowStaticData('global');\nconst lastUpdateId = Number(staticData.lastTelegramUpdateId || config.lastUpdateId || 0) || 0;\nconst items = [];\nlet maxSeenUpdateId = lastUpdateId;\n\nupdates\n  .slice()\n  .sort((a, b) => Number(a.update_id || 0) - Number(b.update_id || 0))\n  .forEach((update) => {\n    const updateId = Number(update.update_id);\n    if (!Number.isFinite(updateId) || updateId <= lastUpdateId) return;\n\n    maxSeenUpdateId = Math.max(maxSeenUpdateId, updateId);\n\n    const message = update.message || {};\n    const text = typeof message.text === 'string' ? message.text.trim() : '';\n    const chatId = message.chat && message.chat.id !== undefined ? message.chat.id : null;\n    if (!text || chatId === null) return;\n\n    items.push({\n      json: {\n        telegramBotToken: config.telegramBotToken,\n        catalogPath: config.catalogPath,\n        pollingLimit: config.pollingLimit,\n        update_id: updateId,\n        message_id: message.message_id || null,\n        chat_id: chatId,\n        text,\n        message: text,\n        date: message.date || null,\n        nextOffset: updateId + 1,\n        offsetStrategy: 'workflow_static_data',\n      },\n    });\n  });\n\nif (maxSeenUpdateId > lastUpdateId) {\n  staticData.lastTelegramUpdateId = maxSeenUpdateId;\n  staticData.lastTelegramNextOffset = maxSeenUpdateId + 1;\n  staticData.lastTelegramOffsetUpdatedAt = new Date().toISOString();\n}\n\nreturn items;"
      },
      "id": "manage_telegram_updates",
      "name": "Manage Telegram Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst DEFAULT_CATALOG = { concepts: [] };\n\nconst WORD_TOKEN_RE = /[a-z0-9]+/g;\n\nconst FAMILY_HINTS = {\n  CCTV: [\n    \"cctv\",\n    \"camara\",\n    \"camaras\",\n    \"cámara\",\n    \"dvr\",\n    \"nvr\",\n    \"videovigilancia\",\n    \"vigilancia\",\n    \"hikvision\",\n    \"ip\",\n  ],\n  RED: [\n    \"router\",\n    \"switch\",\n    \"access point\",\n    \"accesspoint\",\n    \"punto de acceso\",\n    \"red\",\n    \"cable\",\n    \"cableado\",\n    \"cableado\",\n    \"utp\",\n    \"rj45\",\n    \"wifi\",\n    \"wi fi\",\n    \"lan\",\n    \"fibra\",\n    \"canaleta\",\n    \"canalizacion\",\n    \"interconexión\",\n    \"enlace\",\n  ],\n  COMPUTO: [\n    \"computadora\",\n    \"computo\",\n    \"pc\",\n    \"laptop\",\n    \"formate\",\n    \"disco\",\n    \"disco duro\",\n    \"ram\",\n    \"memoria\",\n    \"so\",\n    \"sistema operativo\",\n    \"driver\",\n  ],\n  CONTROL_ACCESO: [\n    \"control de acceso\",\n    \"zkteco\",\n    \"accesspro\",\n    \"tag\",\n    \"tags\",\n    \"lector\",\n    \"biometrico\",\n    \"chapa\",\n    \"boton\",\n    \"botón\",\n    \"biometria\",\n    \"tarjeta\",\n    \"residente\",\n    \"electromagnetica\",\n  ],\n  BARRERA: [\n    \"barrera\",\n    \"pluma\",\n    \"vehicular\",\n    \"acceso vehicular\",\n    \"barrera vehicular\",\n  ],\n};\n\nconst SALE_MARKERS = [\n  \"venta\",\n  \"vendo\",\n  \"vendio\",\n  \"vendí\",\n  \"vendi\",\n  \"vendia\",\n  \"suministro\",\n  \"suministré\",\n  \"suministre\",\n  \"compre\",\n];\n\nconst SERVICE_MARKERS = [\n  \"revis\",\n  \"diagnost\",\n  \"mantenimiento\",\n  \"configur\",\n  \"ajust\",\n  \"repar\",\n  \"soporte\",\n  \"formate\",\n];\n\nconst INSTALL_MARKERS = [\n  \"instal\",\n  \"cableado\",\n  \"canaleta\",\n  \"canalización\",\n  \"canalizacion\",\n];\n\nconst REPLACEMENT_MARKERS = [\n  \"cambi\",\n  \"reemplaz\",\n  \"sustit\",\n];\n\nconst POWER_SOURCE_MARKERS = [\n  \"fuente\",\n  \"fuente de poder\",\n  \"power supply\",\n  \"alimentacion\",\n  \"adaptador\",\n  \"transformador\",\n];\n\nconst STORAGE_MARKERS = [\n  \"disco\",\n  \"disco duro\",\n  \"hdd\",\n  \"ssd\",\n  \"almacenamiento\",\n  \"formateo\",\n  \"grabacion\",\n  \"grabación\",\n  \"dvr disco\",\n  \"nvr disco\",\n];\n\nconst POWER_PRODUCT_MARKERS = [\n  \"fuente\",\n  \"fuente de poder\",\n  \"fuente poder\",\n  \"power supply\",\n  \"alimentacion\",\n  \"adaptador\",\n  \"transformador\",\n];\n\nconst DVR_NVR_DISK_MARKERS = [\n  \"dvr\",\n  \"nvr\",\n  \"grabador\",\n  \"disco\",\n  \"disco duro\",\n  \"grabacion\",\n  \"grabación\",\n  \"almacenamiento\",\n  \"hdd\",\n  \"ssd\",\n];\n\nconst AMBIGUOUS_MARKERS = [\n  \"sistema\",\n  \"equipo\",\n  \"caseta\",\n  \"servicio tecnico\",\n  \"servicio\",\n  \"tecnico\",\n  \"general\",\n  \"falla\",\n  \"revision\",\n];\n\nfunction normalizeText(input) {\n  const value = input === null || input === undefined ? \"\" : String(input);\n  return value\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\")\n    .toLowerCase()\n    .replace(/[^a-z0-9\\s]/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction includesAnyMarker(text, markers) {\n  const normalizedText = normalizeText(text);\n  return markers.some((marker) => normalizedText.includes(normalizeText(marker)));\n}\n\nfunction tokenize(input) {\n  return normalizeText(input).match(WORD_TOKEN_RE) || [];\n}\n\nfunction asArray(value) {\n  if (!value) return [];\n  if (Array.isArray(value)) {\n    return value.map((item) => String(item || \"\").trim()).filter(Boolean);\n  }\n  return String(value)\n    .split(\",\")\n    .map((item) => String(item || \"\").trim())\n    .filter(Boolean);\n}\n\nfunction escapeRegExp(value) {\n  return value.replace(/[.*+?^${}()|[\\]\\\\]/g, \"\\\\$&\");\n}\n\nfunction getConceptAction(concept) {\n  return String(concept?.action_n8n || concept?.accion_n8n || \"\").toUpperCase();\n}\n\nfunction conceptScoringKeywords(concept) {\n  return asArray(concept?.scoring?.match_keywords || concept?.keywords_match || [])\n    .map(normalizeText)\n    .filter(Boolean);\n}\n\nfunction conceptExclusionKeywords(concept) {\n  return asArray(concept?.scoring?.exclude_keywords || concept?.keywords_excluir || [])\n    .map(normalizeText)\n    .filter(Boolean);\n}\n\nfunction conceptCategory(concept) {\n  const subfamily = normalizeText(concept?.subfamily || \"\");\n  const family = normalizeText(concept?.family || \"\");\n\n  if (subfamily.includes(\"control de acceso\") || subfamily.includes(\"control\")) return \"CONTROL_ACCESO\";\n  if (subfamily.includes(\"cctv\") || subfamily.includes(\"videovigilancia\") || subfamily.includes(\"vigilancia\")) return \"CCTV\";\n  if (subfamily.includes(\"red\") || subfamily.includes(\"comunicacion\")) return \"RED\";\n  if (subfamily.includes(\"computo\") || subfamily.includes(\"cómputo\")) return \"COMPUTO\";\n  if (subfamily.includes(\"vehicular\") || subfamily.includes(\"barrera\") || family.includes(\"acceso vehicular\")) return \"BARRERA\";\n  return \"\";\n}\n\nfunction normalizeConceptType(value) {\n  const text = String(value || \"\").toLowerCase().trim();\n  if (text.startsWith(\"prod\")) return \"PRODUCTO\";\n  if (text.startsWith(\"serv\")) return \"SERVICIO\";\n  if (text.startsWith(\"mix\")) return \"MIXTO\";\n  return text.toUpperCase() || \"\";\n}\n\nfunction termMatches(text, tokens, term) {\n  const normalized = normalizeText(term);\n  if (!normalized) return false;\n\n  if (tokens.has(normalized)) return true;\n\n  // Allow stem matches like \"revis\" -> \"revision\"/\"revisé\", \"cambi\" -> \"cambio\"/\"cambié\"\n  if (normalized.includes(\" \")) {\n    const phraseRegex = new RegExp(`\\\\b${escapeRegExp(normalized)}\\\\b`, \"i\");\n    return phraseRegex.test(text);\n  }\n\n  if (normalized.length > 3) {\n    for (const token of tokens) {\n      if (token.startsWith(normalized)) return true;\n      if (normalized.startsWith(token) && token.length >= 4 && token.startsWith(normalized.slice(0, token.length))) {\n        return true;\n      }\n    }\n    const stemRegex = new RegExp(`\\\\b${escapeRegExp(normalized)}[a-z0-9]*\\\\b`, \"i\");\n    if (stemRegex.test(text)) return true;\n  }\n\n  return false;\n}\n\nfunction scoreTokenHits(text, tokens, terms) {\n  let score = 0;\n  for (const term of terms) {\n    if (!term) continue;\n    const normalized = normalizeText(term);\n    if (!normalized) continue;\n    if (normalized.includes(\" \")) {\n      const regex = new RegExp(`\\\\b${escapeRegExp(normalized)}\\\\b`, \"i\");\n      if (regex.test(text)) score += 12;\n      continue;\n    }\n    if (tokens.has(normalized)) {\n      score += 12;\n      continue;\n    }\n    for (const token of tokens) {\n      if (token.startsWith(normalized)) {\n        score += 10;\n        break;\n      }\n    }\n  }\n  return score;\n}\n\nfunction extractContext(message) {\n  const text = normalizeText(message);\n  const tokens = new Set(tokenize(message));\n\n  const familyHits = {\n    CCTV: 0,\n    RED: 0,\n    COMPUTO: 0,\n    CONTROL_ACCESO: 0,\n    BARRERA: 0,\n  };\n\n  Object.keys(FAMILY_HINTS).forEach((family) => {\n    for (const term of FAMILY_HINTS[family]) {\n      if (termMatches(text, tokens, term)) {\n        familyHits[family] += term.includes(\" \") ? 16 : 14;\n      }\n    }\n  });\n\n  const hasSale = SALE_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasService = SERVICE_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasInstall = INSTALL_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasReplacement = REPLACEMENT_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasPowerSource = POWER_SOURCE_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasStorageMention = STORAGE_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasCctvMention =\n    FAMILY_HINTS.CCTV.some((term) => termMatches(text, tokens, term));\n  const hasExplicitDvrNvrStorageMention = DVR_NVR_DISK_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasPowerSaleCctv =\n    hasSale &&\n    hasPowerSource &&\n    hasCctvMention &&\n    !hasExplicitDvrNvrStorageMention;\n  const hasAction = SERVICE_MARKERS.some((term) => termMatches(text, tokens, term)) ||\n    INSTALL_MARKERS.some((term) => termMatches(text, tokens, term)) ||\n    REPLACEMENT_MARKERS.some((term) => termMatches(text, tokens, term)) ||\n    AMBIGUOUS_MARKERS.some((term) => termMatches(text, tokens, term) && term !== \"servicio\");\n\n  const hasGeneric = AMBIGUOUS_MARKERS.some((term) => termMatches(text, tokens, term));\n  const hasAnyFamily = Object.values(familyHits).some((score) => score > 0);\n  const strongFamily = Object.entries(familyHits)\n    .map(([family, score]) => ({ family, score }))\n    .sort((a, b) => b.score - a.score)\n    .find((it) => it.score > 0) || { family: \"\", score: 0 };\n\n  const operationType = hasSale\n    ? \"PRODUCTO\"\n    : hasInstall\n      ? \"SERVICIO_INSTALACION\"\n      : hasReplacement\n        ? \"SERVICIO\"\n        : hasService\n          ? \"SERVICIO\"\n          : \"DESCONOCIDO\";\n\n  return {\n    text,\n    tokens,\n    familyHits,\n    hasAnyFamily,\n    strongFamily,\n    hasSale,\n    hasService,\n    hasInstall,\n    hasReplacement,\n    hasPowerSource,\n    hasExplicitDvrNvrStorageMention,\n    hasPowerSaleCctv,\n    hasStorageMention,\n    hasCctvMention,\n    hasAction,\n    hasGeneric,\n    operationType,\n  };\n}\n\nfunction scoreConcept(message, concept, _catalog = DEFAULT_CATALOG) {\n  const context = extractContext(message);\n  const text = context.text;\n\n  const includeKeywords = conceptScoringKeywords(concept);\n  const excludeKeywords = conceptExclusionKeywords(concept);\n  const conceptHasStorageSignal = includeKeywords.some((term) => STORAGE_MARKERS.some((marker) => term === normalizeText(marker)));\n  const conceptLabel = normalizeText(concept?.invoice_concept || concept?.concepto_factura_recomendado || concept?.concepto_factura || \"\");\n  const conceptHasPowerSignal = includesAnyMarker(conceptLabel, POWER_PRODUCT_MARKERS) || includesAnyMarker(includeKeywords.join(\" \"), POWER_PRODUCT_MARKERS);\n  const conceptHasDvrNvrDiskSignal =\n    includesAnyMarker(conceptLabel, DVR_NVR_DISK_MARKERS) ||\n    includeKeywords.some((term) => {\n      const normalized = normalizeText(term);\n      return includesAnyMarker(normalized, DVR_NVR_DISK_MARKERS);\n    });\n  const hasPowerStorageRestriction = context.hasPowerSource && context.hasCctvMention && !context.hasStorageMention;\n\n  const matchedInclude = [];\n  const matchedExclude = [];\n\n  for (const key of includeKeywords) {\n    if (termMatches(text, context.tokens, key)) {\n      matchedInclude.push(key);\n    }\n  }\n\n  for (const key of excludeKeywords) {\n    if (termMatches(text, context.tokens, key)) {\n      matchedExclude.push(key);\n    }\n  }\n\n  const action = getConceptAction(concept);\n  const category = conceptCategory(concept);\n  const conceptType = normalizeConceptType(concept?.item_type);\n  const baseScore = Number(concept?.scoring?.base_score || concept?.score_base || 0) || 0;\n  const fiscalFit = concept?.fiscal_fit || {};\n  const actividadOk = String(fiscalFit.current_activity_ok || concept?.actividad_actual_ok || \"\").toLowerCase() !== \"false\";\n  const resicoOk = String(fiscalFit.resico_626_ok || concept?.resico_626_ok || \"\").toLowerCase() !== \"false\";\n\n  let confidence = Math.round(baseScore * 0.6);\n  const familyScore = context.familyHits[category] || 0;\n  confidence += Math.min(24, matchedInclude.length * 8);\n  confidence += Math.min(24, Math.round(familyScore));\n  confidence += context.strongFamily.family && context.strongFamily.family === category ? 10 : 0;\n\n  if (context.hasAnyFamily && category && context.familyHits[category] === 0) {\n    confidence -= 14;\n  }\n  if (context.hasAnyFamily && category === context.strongFamily.family) {\n    confidence += 8;\n  }\n\n  if (context.operationType === \"PRODUCTO\") {\n    confidence += conceptType === \"PRODUCTO\" ? 26 : conceptType === \"MIXTO\" ? 8 : -44;\n  } else if (context.operationType === \"SERVICIO_INSTALACION\") {\n    confidence += conceptType === \"SERVICIO\" ? 20 : conceptType === \"MIXTO\" ? 6 : -20;\n  } else if (context.operationType === \"SERVICIO\") {\n    confidence += conceptType === \"SERVICIO\" ? 16 : conceptType === \"MIXTO\" ? 4 : -16;\n    if (context.hasReplacement) confidence += conceptType === \"SERVICIO\" ? 4 : -4;\n  }\n\n  if (context.hasAction) confidence += 6;\n  if (context.operationType === \"PRODUCTO\") confidence += 2;\n  if (action === \"BLOQUEAR\") confidence = Math.min(confidence, 55);\n  if (hasPowerStorageRestriction && conceptHasStorageSignal) {\n    confidence -= 55;\n    if (!matchedExclude.includes(\"fuente_contexto_no_aplica_dispositivo\")) {\n      matchedExclude.push(\"fuente_contexto_no_aplica_dispositivo\");\n    }\n  }\n\n  if (!context.hasAnyFamily && context.hasSale) {\n    confidence += 6;\n  }\n\n  if (context.hasPowerSaleCctv) {\n    if (conceptType === \"PRODUCTO\" && conceptHasPowerSignal) {\n      confidence += 28;\n    } else if (conceptType === \"PRODUCTO\") {\n      confidence -= 18;\n    }\n    if (conceptHasDvrNvrDiskSignal) {\n      confidence -= 60;\n    }\n  }\n\n  if (matchedExclude.length > 0) confidence -= Math.min(24, matchedExclude.length * 8);\n  if (!actividadOk) confidence = Math.min(confidence, 45);\n  if (!resicoOk) confidence = Math.min(confidence, 35);\n\n  confidence = Math.max(0, Math.min(100, Math.round(confidence)));\n\n  const hasEvidence = (context.hasAnyFamily && context.hasAction) || (context.hasSale && context.hasAnyFamily) || (context.hasSale && matchedInclude.length > 0);\n  const reasons = [];\n  if (context.hasSale) reasons.push(\"venta_detectada\");\n  if (context.hasAction) reasons.push(\"accion_detectada\");\n  if (context.hasInstall) reasons.push(\"operacion:SERVICIO_INSTALACION\");\n  if (context.hasReplacement) reasons.push(\"operacion:SERVICIO\");\n  if (context.hasAnyFamily) reasons.push(`familia_detectada:${category || context.strongFamily.family || \"desconocida\"}`);\n  if (matchedInclude.length) reasons.push(`match:${matchedInclude.slice(0, 4).join(\"|\")}`);\n  if (matchedExclude.length) reasons.push(`exclude:${matchedExclude.join(\"|\")}`);\n  if (familyScore > 0) reasons.push(`familia_score:${familyScore}`);\n\n  return {\n    concept,\n    id: concept?.id || null,\n    score: confidence,\n    confidence,\n    action,\n    family: category,\n    conceptType,\n    hasFamilyHint: context.hasAnyFamily,\n    hasEvidence,\n    matched_include: matchedInclude,\n    matched_exclude: matchedExclude,\n    reasons,\n  };\n}\n\nfunction detectBlockedTerms(message, catalog) {\n  const concepts = Array.isArray(catalog?.concepts) ? catalog.concepts : [];\n  const context = extractContext(message);\n  const blockedMarkers = context ? [] : [];\n\n  const scoredBlocked = concepts\n    .filter((concept) => getConceptAction(concept) === \"BLOQUEAR\")\n    .map((concept) => scoreConcept(message, concept, catalog))\n    .filter((item) => item.matched_include.length > 0)\n    .sort((a, b) => b.confidence - a.confidence);\n\n  const hardTerms = scoredBlocked.flatMap((item) => item.matched_include || []);\n\n  return {\n    is_blocked: scoredBlocked.length > 0,\n    is_hard_block: scoredBlocked.length > 0,\n    hard_terms: hardTerms.slice(0, 8),\n    matched_block_concepts: scoredBlocked.slice(0, 5).map((item) => ({\n      id: item.id,\n      action: item.action,\n      confidence: item.confidence,\n      score: item.score,\n      concept_id: item.id,\n      concept_name: item.concept?.invoice_concept || null,\n    })),\n    selected_block: scoredBlocked[0]?.concept || null,\n    blocked_candidates: scoredBlocked,\n    context,\n  };\n}\n\nfunction sanitizeTop3(scoredEntries, options = {}) {\n  const nonConfirmable = options.nonConfirmable || false;\n  return scoredEntries\n    .sort((a, b) => (b.confidence - a.confidence) || (b.score - a.score) || (b.matched_include.length - a.matched_include.length))\n    .slice(0, 3)\n    .map((item) => ({\n      id: item.id,\n      accion_n8n: item.action,\n      score: item.score,\n      confidence: item.confidence,\n      family: item.family || \"N/A\",\n      concept_type: item.conceptType || normalizeConceptType(item.concept?.item_type),\n      concepto_sugerido: item.concept?.invoice_concept || item.concept?.concepto_factura_recomendado || item.concept?.concepto_factura || null,\n      concepto_factura: item.concept?.invoice_concept || item.concept?.concepto_factura_recomendado || item.concept?.concepto_factura || null,\n      clave_prod_serv: item.concept?.sat?.product_service_key || item.concept?.clave_prod_serv || null,\n      clave_unidad: item.concept?.sat?.unit_key || item.concept?.clave_unidad || null,\n      unidad: item.concept?.sat?.unit || null,\n      motivo: item.reasons.join(\"; \"),\n      candidatos_no_confirmados: nonConfirmable,\n      estado: nonConfirmable ? \"candidatos_no_confirmados\" : \"recomendados\",\n    }));\n}\n\nfunction buildReason(action, context, selected, blockInfo, ambiguous) {\n  const base = [];\n  if (blockInfo.is_blocked) base.push(\"bloqueo_base_aplicable\");\n  if (selected) {\n    if (action === \"SUGERIR\") base.push(\"confianza_alta\");\n    if (selected.reasons?.length) base.push(...selected.reasons);\n  }\n  if (ambiguous) base.push(\"mensaje_ambiguo: requiere_detalle_de_equipos\");\n  return base.length ? base.join(\"; \") : \"sin_razon_clara\";\n}\n\nfunction classifyMessage(message, catalog = DEFAULT_CATALOG) {\n  const concepts = Array.isArray(catalog?.concepts) ? catalog.concepts : [];\n  const context = extractContext(message);\n  const blockInfo = detectBlockedTerms(message, catalog);\n\n  const scored = concepts\n    .map((concept) => scoreConcept(message, concept, catalog))\n    .filter((item) => item.confidence > 0);\n\n  const candidatesForSuggestion = scored.filter((item) => item.action === \"SUGERIR\");\n  const sorted = candidatesForSuggestion.sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    if (b.confidence !== a.confidence) return b.confidence - a.confidence;\n    return b.matched_include.length - a.matched_include.length;\n  });\n  const sortedRaw = scored.sort((a, b) => {\n    if (b.score !== a.score) return b.score - a.score;\n    if (b.confidence !== a.confidence) return b.confidence - a.confidence;\n    return b.matched_include.length - a.matched_include.length;\n  });\n\n  const topScored = sorted[0] || null;\n  const topScoredRaw = sortedRaw[0] || null;\n\n  const onlyGenericWithoutSpecificContext = context.hasGeneric && !context.hasAnyFamily && !context.hasSale;\n  const genericEvidenceWeak = context.hasAction && !context.hasAnyFamily && !context.hasSale;\n  const ambiguous =\n    onlyGenericWithoutSpecificContext ||\n    !topScored ||\n    genericEvidenceWeak ||\n    topScored.confidence < 50 ||\n    !topScored.hasEvidence;\n\n  let action = \"PEDIR_ACLARACION\";\n  if (blockInfo.is_hard_block) {\n    action = \"BLOQUEAR\";\n    const blockCandidate = (blockInfo.matched_block_concepts || [])[0];\n    if (blockCandidate && blockCandidate.id) {\n      const blockConcept = concepts.find((item) => item.id === blockCandidate.id);\n      if (blockConcept && getConceptAction(blockConcept) === \"AGREGAR_ACTIVIDAD\") action = \"AGREGAR_ACTIVIDAD\";\n    }\n  } else if (topScored && topScored.confidence >= 80 && !ambiguous && topScored.action === \"SUGERIR\") {\n    action = \"SUGERIR\";\n  }\n\n  const isBillable = action === \"SUGERIR\";\n  const selected = isBillable ? topScored : null;\n  const concept = selected?.concept || null;\n  const sat = concept?.sat || {};\n  const fiscalFit = concept?.fiscal_fit || {};\n  const selectedFamily = selected ? selected.family : null;\n  const conceptType = selected ? selected.conceptType : null;\n\n  return {\n    accion_n8n: action,\n    matched_id: isBillable ? selected?.id || null : null,\n    concepto_id: isBillable ? selected?.id || null : null,\n    concept: isBillable ? concept : null,\n    concepto_sugerido: isBillable\n      ? concept?.invoice_concept || concept?.concepto_factura_recomendado || concept?.concepto_factura || null\n      : null,\n    concepto_factura: isBillable\n      ? concept?.invoice_concept || concept?.concepto_factura_recomendado || concept?.concepto_factura || null\n      : null,\n    clave_prod_serv: isBillable ? (sat.product_service_key || concept?.clave_prod_serv || null) : null,\n    clave_unidad: isBillable ? (sat.unit_key || concept?.clave_unidad || null) : null,\n    unidad: isBillable ? (sat.unit || null) : null,\n    family: selectedFamily || null,\n    concept_type: conceptType || null,\n    operation_type: context.operationType,\n    iva: isBillable ? (sat.suggested_iva || null) : null,\n    actividad_relacionada: isBillable\n      ? (Array.isArray(fiscalFit.supported_activity_ids) ? fiscalFit.supported_activity_ids : null)\n      : null,\n    objeto_imp: isBillable ? (sat.tax_object || sat.objeto_impuesto || null) : \"referencia\",\n    requires_revision_humana: true,\n    requiere_revision_humana: true,\n    confidence: isBillable ? topScored?.confidence || 0 : topScoredRaw?.confidence || 0,\n    top_3: sanitizeTop3(isBillable ? sorted : sortedRaw, { nonConfirmable: !isBillable }),\n    reason: buildReason(action, context, topScored, blockInfo, ambiguous),\n    blocked_terms: blockInfo,\n  };\n}\n\nfunction formatTelegramMessage(result) {\n  const lines = [];\n  lines.push(`Accion: ${result.accion_n8n}`);\n  lines.push(`Mensaje sugerido: ${result.concepto_sugerido || \"Sin propuesta\"}`);\n  lines.push(`Clave SAT: ${result.clave_prod_serv || \"Sin clave\"}`);\n  lines.push(`Clave unidad: ${result.clave_unidad || \"Sin clave\"}`);\n  lines.push(`Unidad: ${result.unidad || \"Sin unidad\"}`);\n  lines.push(`Confianza: ${Math.round(result.confidence || 0)}%`);\n  lines.push(`Operacion: ${result.operation_type || \"DESCONOCIDO\"}`);\n  lines.push(`Requiere revision humana: ${result.requires_revision_humana ? \"Si\" : \"No\"}`);\n  if (result.accion_n8n === \"PEDIR_ACLARACION\") {\n    lines.push(\"No captures esto todavía. Falta especificar el equipo/sistema atendido.\");\n  }\n  lines.push(`Motivo: ${result.reason || \"\"}`);\n  const top3 = (result.top_3 || [])\n    .map((item, index) =>\n      `${index + 1}. ${item.id} (${item.accion_n8n}) score=${item.score} conf=${item.confidence} ${item.candidatos_no_confirmados ? \"[candidatos_no_confirmados]\" : \"\"}`)\n    .join(\" | \");\n  lines.push(`Top3: ${top3 || \"Sin candidatos\"}`);\n  return lines.join(\"\\n\");\n}\n\nfunction buildN8nResponse(classificationResult, messageOriginal = \"\") {\n  const result = classificationResult || {};\n  const action = result.accion_n8n || \"PEDIR_ACLARACION\";\n  const isSugerir = action === \"SUGERIR\";\n  const isBlock = action === \"BLOQUEAR\" || action === \"AGREGAR_ACTIVIDAD\";\n\n  const top3 = Array.isArray(result.top_3) ? [...result.top_3] : [];\n  const candidateTop = top3.length > 0 ? top3[0].confidence || top3[0].score || 0 : 0;\n\n  const conceptIsReady = isSugerir;\n  const concept = conceptIsReady\n    ? {\n        id: result.concepto_id || result.matched_id || null,\n        concepto_factura: result.concepto_factura || result.concepto_sugerido || null,\n        clave_prod_serv: result.clave_prod_serv || null,\n        clave_unidad: result.clave_unidad || null,\n        unidad: result.unidad || null,\n        familia: result.family || null,\n        tipo: result.concept_type || null,\n        operacion: result.operation_type || null,\n      }\n    : {\n        id: null,\n        concepto_factura: null,\n        clave_prod_serv: null,\n        clave_unidad: null,\n        unidad: null,\n        familia: null,\n        tipo: null,\n        operacion: null,\n      };\n\n  const ready = isSugerir;\n  const safetyLevel = isSugerir\n    ? \"OK\"\n    : isBlock\n      ? \"BLOCKED\"\n      : \"NEEDS_CLARIFICATION\";\n\n  let telegramMessage = \"\";\n  if (isSugerir) {\n    const reviewWarning = \"Requiere revisión humana antes de timbrar.\";\n    telegramMessage = [\n      `Concepto sugerido: ${concept.concepto_factura}`,\n      `Clave SAT: ${concept.clave_prod_serv}`,\n      `Unidad: ${concept.unidad}`,\n      `Familia: ${concept.familia}`,\n      `Tipo: ${concept.tipo}`,\n      `Operación: ${concept.operacion || \"DESCONOCIDO\"}`,\n      reviewWarning,\n    ].join(\"\\n\");\n  } else if (action === \"PEDIR_ACLARACION\") {\n    telegramMessage = [\n      \"No captures esto todavía. Falta especificar el equipo/sistema atendido.\",\n      \"¿Qué equipo o sistema fue atendido? Ejemplo: CCTV, control de acceso, red, computadora, barrera.\",\n    ].join(\"\\n\");\n  } else {\n    const blockReason =\n      result.blocked_terms?.selected_block?.invoice_concept ||\n      \"No debe facturarse con la actividad actual. Registra esta acción en otro flujo o espera confirmación de actividad.\";\n    telegramMessage = [\n      \"No está listo para facturar con la actividad actual.\",\n      blockReason,\n      \"Requiere revisión humana antes de emitir CFDI.\",\n    ].join(\"\\n\");\n  }\n\n  return {\n    action,\n    ready_to_copy: ready,\n    requires_human_review: true,\n    message_original: messageOriginal || \"\",\n    decision_confidence: isSugerir ? Math.round(result.confidence || 0) : Math.round(result.confidence || 0),\n    candidate_confidence: Math.round(candidateTop || 0),\n    safety_level: safetyLevel,\n    concept,\n    top_3: isSugerir ? top3 : isBlock ? [] : top3,\n    telegram_message: telegramMessage,\n    json_debug: {\n      score: result.confidence ?? null,\n      family: concept.familia,\n      type: concept.tipo,\n      operation: concept.operacion,\n      reason: result.reason || null,\n      top3_length: top3.length,\n      action_flow: isBlock ? \"guard_rail\" : isSugerir ? \"invoice_candidate\" : \"clarify_required\",\n      blocked_terms: result.blocked_terms || null,\n    },\n  };\n}\n\nconst REQUIRED_CATALOG_PATH = 'C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI/data/concepts.normalized.json';\nconst catalogHint = `catalogPath debe ser absoluto en n8n 2.4.4. Usa: ${REQUIRED_CATALOG_PATH}`;\n\nfunction ensureCatalogInputPath(rawPath) {\n  const catalogPath = (typeof rawPath === 'string' ? rawPath.trim() : '');\n  if (!catalogPath) {\n    throw new Error('catalogPath es requerido y debe ser absoluto en n8n 2.4.4. Usa: ' + REQUIRED_CATALOG_PATH);\n  }\n\n  if (!path.isAbsolute(catalogPath)) {\n    throw new Error(catalogHint);\n  }\n\n  return path.normalize(catalogPath);\n}\n\n\nconst input = $json || {};\nconst message = (input.message || input.text || '').toString().trim();\nconst catalogPath = (input.catalogPath || '').toString().trim();\n\nfunction emptyConcept() {\n  return {\n    id: null,\n    concepto_factura: null,\n    clave_prod_serv: null,\n    clave_unidad: null,\n    unidad: null,\n    familia: null,\n    tipo: null,\n    operacion: null,\n  };\n}\n\nfunction buildControlledErrorResponse(error) {\n  const detail = error && error.message ? error.message : String(error || 'Error desconocido');\n  return {\n    action: 'PEDIR_ACLARACION',\n    ready_to_copy: false,\n    requires_human_review: true,\n    message_original: message,\n    decision_confidence: 0,\n    candidate_confidence: 0,\n    safety_level: 'NEEDS_CLARIFICATION',\n    concept: emptyConcept(),\n    top_3: [],\n    telegram_message: [\n      'No pude clasificar este mensaje por un error de configuracion local.',\n      'Detalle: ' + detail,\n      'Revisa catalogPath y confirma que n8n fue iniciado con NODE_FUNCTION_ALLOW_BUILTIN=fs,path.',\n    ].join('\\n'),\n    json_debug: {\n      error: detail,\n      source: 'telegram_polling_run_scoring',\n    },\n  };\n}\n\nlet response;\ntry {\n  if (!message) {\n    throw new Error('Mensaje vacio: no hay texto para clasificar.');\n  }\n\n  const resolvedCatalogPath = ensureCatalogInputPath(catalogPath);\n\n  if (!fs.existsSync(resolvedCatalogPath)) {\n    throw new Error('Archivo no encontrado: ' + resolvedCatalogPath + '. Revisa catalogPath y confirma que exista concepts.normalized.json.');\n  }\n\n  const catalog = JSON.parse(fs.readFileSync(resolvedCatalogPath, 'utf8'));\n  const raw = classifyMessage(message, catalog);\n  response = buildN8nResponse(raw, message);\n} catch (error) {\n  response = buildControlledErrorResponse(error);\n}\n\nreturn [{\n  json: {\n    ...input,\n    ...response,\n    telegramBotToken: input.telegramBotToken,\n    chat_id: input.chat_id,\n    update_id: input.update_id,\n    message_id: input.message_id,\n    text: input.text,\n    send_text: response.telegram_message,\n  },\n}];"
      },
      "id": "run_scoring",
      "name": "Run Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://api.telegram.org/bot' + $json.telegramBotToken + '/sendMessage'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $json.chat_id, text: $json.telegram_message } }}",
        "options": {}
      },
      "id": "telegram_send_message",
      "name": "Telegram sendMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Prepare Telegram Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Request": {
      "main": [
        [
          {
            "node": "Telegram getUpdates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram getUpdates": {
      "main": [
        [
          {
            "node": "Manage Telegram Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manage Telegram Updates": {
      "main": [
        [
          {
            "node": "Run Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Scoring": {
      "main": [
        [
          {
            "node": "Telegram sendMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "active": false,
  "notesInFlow": false
}
