workflow/cfdi_sandbox_action_router.n8n.json
{
  "name": "cfdi_sandbox_action_router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cfdi-sandbox-action-router",
        "responseMode": "responseNode",
        "options": {
          "responseCode": 200
        }
      },
      "id": "sandbox-router-webhook",
      "name": "Webhook Sandbox Action Router",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        80,
        320
      ],
      "webhookId": "cfdi-sandbox-action-router"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "workflowVersion",
              "value": "CFDI_SANDBOX_ACTION_ROUTER_V1"
            },
            {
              "name": "projectRoot",
              "value": "C:/Users/Juandi Gamer/Documents/Flujo N8N CFDI"
            },
            {
              "name": "allowedChatId",
              "value": "={{$env.CFDI_ALLOWED_TELEGRAM_CHAT_ID || ''}}"
            },
            {
              "name": "telegramBotToken",
              "value": "={{$env.TELEGRAM_BOT_TOKEN || ''}}"
            }
          ]
        },
        "options": {
          "keepOnlySet": false
        }
      },
      "id": "sandbox-router-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        320,
        320
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const config = $node['Set Config'].json || {};\nconst input = $json || {};\nconst body = input.body && typeof input.body === 'object' ? input.body : input;\nconst callbackQuery = body.callback_query && typeof body.callback_query === 'object' ? body.callback_query : null;\nconst isCallback = Boolean(callbackQuery);\nconst message = isCallback\n  ? (callbackQuery.message && typeof callbackQuery.message === 'object' ? callbackQuery.message : {})\n  : (body.message && typeof body.message === 'object' ? body.message : {});\nconst from = isCallback\n  ? (callbackQuery.from && typeof callbackQuery.from === 'object' ? callbackQuery.from : {})\n  : (message.from && typeof message.from === 'object' ? message.from : {});\nconst chat = message.chat && typeof message.chat === 'object' ? message.chat : {};\nconst callbackData = String(callbackQuery?.data ?? '').trim();\nconst chatId = String(body.chat_id ?? chat.id ?? '').trim();\nconst userId = String(body.user_id ?? from.id ?? '').trim();\nconst text = String(body.text ?? (isCallback ? callbackData : message.text) ?? '').trim();\nconst sourceKind = isCallback ? 'CALLBACK_QUERY' : 'MESSAGE';\nconst allowedChatId = String(config.allowedChatId || '').trim();\nconst telegramBotToken = String(config.telegramBotToken || '').trim();\nconst workflowVersion = String(config.workflowVersion || 'CFDI_SANDBOX_ACTION_ROUTER_V1');\nconst projectRoot = String(config.projectRoot || '').trim();\nconst ACTION_MAP = Object.freeze({\n  '/sandbox_preflight': 'sandbox.preflight',\n  '/sandbox_report': 'sandbox.report.generate',\n  '/sandbox_package': 'sandbox.package.generate',\n  '/sandbox_excel': 'sandbox.excel.generate',\n  '/sandbox_checklist': 'sandbox.checklist.generate',\n  '/sandbox_full_package': 'sandbox.full.monthly.package',\n  '/sandbox_smoke_create': 'sandbox.smoke.create',\n  '/sandbox_smoke_download': 'sandbox.smoke.download',\n  '/sandbox_smoke_cancel': 'sandbox.smoke.cancel'\n});\nconst CALLBACK_ACTION_MAP = Object.freeze({\n  'cfdi_sbx:report': 'sandbox.report.generate',\n  'cfdi_sbx:package': 'sandbox.package.generate',\n  'cfdi_sbx:excel': 'sandbox.excel.generate',\n  'cfdi_sbx:checklist': 'sandbox.checklist.generate',\n  'cfdi_sbx:full': 'sandbox.full.monthly.package',\n  'cfdi_sbx:preflight': 'sandbox.preflight',\n  'cfdi_sbx:smoke_create': 'sandbox.smoke.create',\n  'cfdi_sbx:smoke_download': 'sandbox.smoke.download',\n  'cfdi_sbx:smoke_cancel': 'sandbox.smoke.cancel'\n});\nconst CALLBACK_UI_SET = Object.freeze(new Set([\n  'cfdi_sbx:menu',\n  'cfdi_sbx:smoke_menu',\n  'cfdi_sbx:cancel'\n]));\nconst CALLBACK_ALLOWLIST = Object.freeze(new Set([\n  ...Object.keys(CALLBACK_ACTION_MAP),\n  ...Array.from(CALLBACK_UI_SET)\n]));\nconst MAIN_MENU_KEYBOARD = Object.freeze({\n  inline_keyboard: [\n    [{ text: '\\uD83D\\uDCCA Resumen mensual sandbox', callback_data: 'cfdi_sbx:report' }],\n    [{ text: '\\uD83D\\uDCE6 Generar paquete contador', callback_data: 'cfdi_sbx:package' }],\n    [{ text: '\\uD83D\\uDCD8 Generar Excel', callback_data: 'cfdi_sbx:excel' }],\n    [{ text: '\\u2705 Generar checklist', callback_data: 'cfdi_sbx:checklist' }],\n    [{ text: '\\uD83D\\uDD01 Paquete completo', callback_data: 'cfdi_sbx:full' }],\n    [{ text: '\\uD83E\\uDDEA Smoke sandbox', callback_data: 'cfdi_sbx:smoke_menu' }],\n    [{ text: '\\uD83D\\uDEE0 Estado / preflight', callback_data: 'cfdi_sbx:preflight' }],\n    [{ text: '\\u274C Cancelar', callback_data: 'cfdi_sbx:cancel' }]\n  ]\n});\nconst SMOKE_MENU_KEYBOARD = Object.freeze({\n  inline_keyboard: [\n    [{ text: 'Crear CFDI sandbox', callback_data: 'cfdi_sbx:smoke_create' }],\n    [{ text: 'Crear + XML/PDF', callback_data: 'cfdi_sbx:smoke_download' }],\n    [{ text: 'Crear + cancelar', callback_data: 'cfdi_sbx:smoke_cancel' }],\n    [{ text: 'Volver', callback_data: 'cfdi_sbx:menu' }]\n  ]\n});\nconst HELP = [\n  'Menu sandbox CFDI',\n  'Usa /sandbox_menu para mostrar botones.',\n  'Comandos tambien disponibles:',\n  '/sandbox_preflight',\n  '/sandbox_report',\n  '/sandbox_package',\n  '/sandbox_excel',\n  '/sandbox_checklist',\n  '/sandbox_full_package',\n  '/sandbox_smoke_create',\n  '/sandbox_smoke_download',\n  '/sandbox_smoke_cancel'\n].join('\\n');\nfunction isSafeCallbackData(value) {\n  return typeof value === 'string' && value.length <= 32 && CALLBACK_ALLOWLIST.has(value) && /^cfdi_sbx:[a-z_]+$/.test(value);\n}\nfunction payload(textValue, keyboard) {\n  const out = { chat_id: chatId, text: textValue };\n  if (keyboard) out.reply_markup = keyboard;\n  return out;\n}\nfunction safeAuditArg(value) {\n  const textValue = String(value || '').trim();\n  if (!textValue) return '';\n  return textValue.replace(/[^A-Za-z0-9_:/.-]+/g, '_').slice(0, 80);\n}\nfunction redactIdentifier(value) {\n  const textValue = String(value || '').trim();\n  if (!textValue) return '';\n  let hash = 2166136261;\n  for (let index = 0; index < textValue.length; index += 1) {\n    hash ^= textValue.charCodeAt(index);\n    hash = Math.imul(hash, 16777619);\n  }\n  return 'redacted:' + textValue.length + ':' + (hash >>> 0).toString(16).padStart(8, '0');\n}\nfunction auditArg(flag, value) {\n  const safeValue = safeAuditArg(value);\n  return safeValue ? flag + ' ' + safeValue : '';\n}\nfunction auditArgs() {\n  return [\n    auditArg('--audit-source-kind', sourceKind),\n    auditArg('--audit-chat-redacted', redactIdentifier(chatId)),\n    auditArg('--audit-user-redacted', redactIdentifier(userId)),\n    auditArg('--audit-callback-data', callbackToken),\n    auditArg('--audit-command-token', commandToken),\n    auditArg('--audit-workflow-version', workflowVersion),\n  ].filter(Boolean).join(' ');\n}\nconst commandToken = text.split(/\\s+/)[0] || '';\nconst callbackToken = isCallback ? callbackData : '';\nconst requestedAction = isCallback ? (CALLBACK_ACTION_MAP[callbackToken] || '') : (ACTION_MAP[commandToken] || '');\nlet status = 'help';\nlet shouldExecute = false;\nlet replyText = HELP;\nlet executeCommand = '';\nlet keyboard = MAIN_MENU_KEYBOARD;\nif (!allowedChatId) {\n  status = 'needs_config';\n  keyboard = null;\n  replyText = 'NEEDS_CONFIG: configura CFDI_ALLOWED_TELEGRAM_CHAT_ID en el entorno local de n8n.';\n} else if (!chatId || chatId !== allowedChatId) {\n  status = 'unauthorized';\n  keyboard = null;\n  replyText = 'No autorizado';\n} else if (isCallback && !isSafeCallbackData(callbackToken)) {\n  status = 'help';\n  replyText = 'Callback sandbox no reconocido. Elige una opcion del menu.';\n  keyboard = MAIN_MENU_KEYBOARD;\n} else if (isCallback && callbackToken === 'cfdi_sbx:menu') {\n  status = 'menu';\n  replyText = 'Menu sandbox CFDI';\n  keyboard = MAIN_MENU_KEYBOARD;\n} else if (!isCallback && (commandToken === '/sandbox_menu' || commandToken === '/start' || commandToken === '/help')) {\n  status = 'menu';\n  replyText = 'Menu sandbox CFDI';\n  keyboard = MAIN_MENU_KEYBOARD;\n} else if (isCallback && callbackToken === 'cfdi_sbx:smoke_menu') {\n  status = 'smoke_menu';\n  replyText = 'Smoke sandbox: elige una accion controlada.';\n  keyboard = SMOKE_MENU_KEYBOARD;\n} else if (!isCallback && commandToken === '/sandbox_smoke') {\n  status = 'smoke_menu';\n  replyText = 'Smoke sandbox: elige una accion controlada.';\n  keyboard = SMOKE_MENU_KEYBOARD;\n} else if (isCallback && callbackToken === 'cfdi_sbx:cancel') {\n  status = 'cancelled';\n  replyText = 'Operacion sandbox cancelada. No se ejecuto ninguna accion.';\n  keyboard = MAIN_MENU_KEYBOARD;\n} else if (!requestedAction) {\n  status = 'help';\n  replyText = HELP;\n  keyboard = MAIN_MENU_KEYBOARD;\n} else {\n  status = 'accepted';\n  shouldExecute = true;\n  keyboard = null;\n  executeCommand = 'node scripts/run-sandbox-action.js ' + requestedAction + ' ' + auditArgs();\n  replyText = 'Ejecutando ' + requestedAction + '...';\n}\nconst telegramSendEnabled = Boolean(chatId && telegramBotToken && !telegramBotToken.includes('REEMPLAZAR'));\nreturn [{ json: { workflow_version: workflowVersion, project_root: projectRoot, chat_id: chatId, user_id: userId, text, source_kind: sourceKind, callback_data: callbackToken, command_token: commandToken, requested_action: requestedAction, should_execute: shouldExecute, execute_command: executeCommand, router_status: status, reply_text: replyText, reply_markup: keyboard, telegram_bot_token: telegramBotToken, telegram_send_enabled: telegramSendEnabled, telegram_payload: payload(replyText, keyboard), webhook_response: { ok: true, status, action: requestedAction || null, source_kind: sourceKind, callback_data: callbackToken || null, message: replyText, warnings: [], errors: [] } } }];"
      },
      "id": "sandbox-router-normalize",
      "name": "Normalize Input And Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.should_execute}}",
              "value2": true
            }
          ]
        }
      },
      "id": "sandbox-router-if-execute",
      "name": "Should Execute Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "command": "={{$json.execute_command}}"
      },
      "id": "sandbox-router-execute",
      "name": "Execute Sandbox Action",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1040,
        220
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const routed = $node['Normalize Input And Route'].json || {};\nfunction safeArray(value) { return Array.isArray(value) ? value : []; }\nfunction parseJson(value) {\n  const text = String(value || '').trim();\n  if (!text) return null;\n  try { return JSON.parse(text); } catch (_error) { return null; }\n}\nfunction stdoutCandidate(input) {\n  if (!input || typeof input !== 'object') return '';\n  if (typeof input.stdout === 'string' && input.stdout.trim()) return input.stdout;\n  if (typeof input.data === 'string' && input.data.trim()) return input.data;\n  if (input.stdout && typeof input.stdout === 'object') return JSON.stringify(input.stdout);\n  if (input.data && typeof input.data === 'object') return JSON.stringify(input.data);\n  return '';\n}\nfunction safeOutboundArray(value) {\n  return safeArray(value).map((item) => {\n    const original = String(item || '');\n    let text = original.replace(/[^\\s|]*\\.(?:xlsx|zip|xml|pdf)(?::[^\\s|]*)?/gi, '[artifact_detail_hidden]');\n    text = text.replace(/runtime\\/[A-Za-z0-9_./-]+/g, '[runtime_path_hidden]');\n    if (/absolute_path/i.test(original) && !/absolute_path/i.test(text)) text += ':absolute_path';\n    return text;\n  });\n}\nconst NEXT_ACTIONS_KEYBOARD = Object.freeze({\n  inline_keyboard: [\n    [{ text: '\\uD83D\\uDD01 Paquete completo', callback_data: 'cfdi_sbx:full' }],\n    [{ text: '\\uD83D\\uDCCA Resumen mensual sandbox', callback_data: 'cfdi_sbx:report' }],\n    [{ text: '\\uD83E\\uDDEA Smoke sandbox', callback_data: 'cfdi_sbx:smoke_menu' }],\n    [{ text: 'Volver al menu', callback_data: 'cfdi_sbx:menu' }]\n  ]\n});\nconst stdoutText = stdoutCandidate({ stdout: $json.stdout, data: $json.data });\nconst result = parseJson(stdoutText);\nif (!result || typeof result !== 'object') {\n  const text = 'ERROR ejecutando ' + routed.requested_action + ': no se pudo parsear JSON estable desde stdout del Action Layer.';\n  return [{ json: { ...routed, action_result: null, reply_text: text, reply_markup: NEXT_ACTIONS_KEYBOARD, telegram_payload: { chat_id: routed.chat_id, text, reply_markup: NEXT_ACTIONS_KEYBOARD }, webhook_response: { ok: false, status: 'ERROR', action: routed.requested_action, source_kind: routed.source_kind || null, callback_data: routed.callback_data || null, message: text, warnings: [], errors: [text] } } }];\n}\nconst warnings = safeOutboundArray(result.warnings);\nconst errors = safeOutboundArray(result.errors);\nconst findings = safeArray(result.sensitive_findings);\nconst artifacts = safeArray(result.artifacts);\nconst nextSuggestion = result.status === 'NEEDS_RUNTIME'\n  ? 'Ejecuta primero sandbox.smoke.download o verifica runtime/storage-sandbox.'\n  : result.status === 'NEEDS_CONFIG'\n    ? 'Configura variables sandbox locales antes de reintentar.'\n    : result.status === 'OK'\n      ? 'Puedes revisar artifacts locales en runtime; no se envian archivos por Telegram en esta fase.'\n      : 'Revisa el analyzer local antes de continuar.';\nconst lines = [\n  'Sandbox action: ' + result.action,\n  'Status: ' + result.status,\n  'Duration ms: ' + (result.duration_ms ?? 'N/A'),\n  'Artifacts: ' + artifacts.length,\n  'Warnings: ' + (warnings.length ? warnings.join(' | ') : 'none'),\n  'Errors: ' + (errors.length ? errors.join(' | ') : 'none'),\n  'Sensitive findings: ' + (findings.length ? findings.length + ' encontrados; detalles ocultos' : 'none'),\n  'Siguiente: ' + nextSuggestion\n];\nconst text = lines.join('\\n');\nreturn [{ json: { ...routed, action_result: { action: result.action, status: result.status, ok: result.ok === true, duration_ms: result.duration_ms ?? null, artifacts_count: artifacts.length, warnings, errors, sensitive_findings_count: findings.length, latest_path: 'runtime/action-results-sandbox/latest.json' }, reply_text: text, reply_markup: NEXT_ACTIONS_KEYBOARD, telegram_payload: { chat_id: routed.chat_id, text, reply_markup: NEXT_ACTIONS_KEYBOARD }, webhook_response: { ok: result.ok === true && result.status === 'OK', status: result.status, action: result.action, source_kind: routed.source_kind || null, callback_data: routed.callback_data || null, message: text, warnings, errors } } }];"
      },
      "id": "sandbox-router-action-summary",
      "name": "Build Safe Action Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        220
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const input = $json || {};\nconst text = input.reply_text || 'Comando no reconocido';\nconst payload = { chat_id: input.chat_id, text };\nif (input.reply_markup) payload.reply_markup = input.reply_markup;\nreturn [{ json: { ...input, reply_text: text, telegram_payload: payload, webhook_response: input.webhook_response || { ok: true, status: input.router_status || 'help', action: null, source_kind: input.source_kind || null, callback_data: input.callback_data || null, message: text, warnings: [], errors: [] } } }];"
      },
      "id": "sandbox-router-immediate-response",
      "name": "Build Immediate Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.telegram_send_enabled}}",
              "value2": true
            }
          ]
        }
      },
      "id": "sandbox-router-if-telegram",
      "name": "Should Send Telegram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1520,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://api.telegram.org/bot' + $json.telegram_bot_token + '/sendMessage'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{JSON.stringify($json.telegram_payload)}}",
        "options": {}
      },
      "id": "sandbox-router-telegram-send",
      "name": "Telegram sendMessage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        120
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200
        }
      },
      "id": "sandbox-router-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1740,
        560
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const input = $json || {};\nfunction cleanArray(value) {\n  if (Array.isArray(value)) return value.map((item) => String(item)).filter(Boolean);\n  if (value === null || value === undefined || value === '') return [];\n  return [String(value)];\n}\nfunction stringOrNull(value) {\n  if (value === null || value === undefined || value === '') return null;\n  return String(value);\n}\nfunction sanitizeOutboundText(value) {\n  const original = String(value || '');\n  let text = original.replace(/[^\\s|]*\\.(?:xlsx|zip|xml|pdf)(?::[^\\s|]*)?/gi, '[artifact_detail_hidden]');\n  text = text.replace(/runtime\\/[A-Za-z0-9_./-]+/g, '[runtime_path_hidden]');\n  if (/absolute_path/i.test(original) && !/absolute_path/i.test(text)) text += ':absolute_path';\n  return text;\n}\nfunction sanitizeOutboundArray(value) {\n  return cleanArray(value).map(sanitizeOutboundText);\n}\nconst actionResult = input.action_result && typeof input.action_result === 'object' ? input.action_result : {};\nconst response = input.webhook_response && typeof input.webhook_response === 'object' ? input.webhook_response : {};\nconst status = String(response.status || input.router_status || actionResult.status || 'ERROR');\nconst action = response.action !== undefined ? response.action : (input.requested_action || actionResult.action || null);\nconst message = String(response.message || input.reply_text || 'Missing webhook_response');\nconst warnings = sanitizeOutboundArray(response.warnings !== undefined ? response.warnings : (actionResult.warnings || input.warnings));\nconst errors = sanitizeOutboundArray(response.errors !== undefined ? response.errors : (actionResult.errors || input.errors));\nconst body = {\n  ok: response.ok === true,\n  status,\n  action: action || null,\n  source_kind: stringOrNull(response.source_kind || input.source_kind),\n  callback_data: stringOrNull(response.callback_data !== undefined ? response.callback_data : input.callback_data),\n  message: sanitizeOutboundText(message),\n  warnings,\n  errors,\n};\nreturn [{ json: body }];"
      },
      "id": "sandbox-router-prepare-webhook-json-body",
      "name": "Prepare Webhook JSON Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        560
      ]
    }
  ],
  "connections": {
    "Webhook Sandbox Action Router": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Normalize Input And Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input And Route": {
      "main": [
        [
          {
            "node": "Should Execute Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Execute Action": {
      "main": [
        [
          {
            "node": "Execute Sandbox Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Immediate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sandbox Action": {
      "main": [
        [
          {
            "node": "Build Safe Action Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Safe Action Summary": {
      "main": [
        [
          {
            "node": "Should Send Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Webhook JSON Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Immediate Response": {
      "main": [
        [
          {
            "node": "Should Send Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Webhook JSON Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Telegram": {
      "main": [
        [
          {
            "node": "Telegram sendMessage",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Webhook JSON Body": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cfdi-sandbox-action-router-v1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "cfdi_sandbox_action_router"
}
